<template>
  <b-container fluid="">
    <n-title-box/>

    <b-form @submit.prevent="onModify">
      <sample-album-modify :id="$route.params.id" ref="ModifyComponent"/>

      <b-row>
        <b-col class="text-center">
          <n-confirm type="UPDATE">
            <b-button variant="primary" type="submit" class="mr-3">수정</b-button>
          </n-confirm>

          <b-button variant="secondary" type="button" @click="onCancel">취소</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {Shared}           from '@/app/shared/model/shared.model';
import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';
import SampleAlbumModify  from '@/app/sample/album/view/sample-album-modify.vue';

@Component({
  components: {SampleAlbumModify}
})
export default class SampleAlbumModifyPage extends Vue {
  store = SampleAlbumStore.getInstance();

  onModify() {
    this.store.actions.update(this.$mapper.toObject(SampleAlbum.Request.Modify, this.$refs.ModifyComponent[`modify`]));
  }

  onCancel() {
    this.$router.back();
  }

  @Watch('store.state.result')
  getResult() {
    const result: Shared.Response.ActionResult = this.store.getters.getResult();
    if (result.action === this.$enum.CORE.ACTION.RESULT.UPDATE) {
      this.$router.back();
    }
  }
}
</script>
