<template>
  <b-container fluid="">
    <n-title-box/>

    <sample-album-list ref="ListComponent"
                       :isSelect="false"
                       @onAdd="onAdd"
                       @onRow="onRow"/>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import SampleAlbumList from '@/app/sample/album/view/sample-album-list.vue';

@Component({
  components: {SampleAlbumList}
})
export default class SampleAlbumListPage extends Vue {
  onAdd() {
    this.$router.push(`./add`);
  }

  onRow(id: number) {
    this.$router.push(`./detail/${id}`);
  }
}
</script>
