<template>
  <b-container class="view-box" fluid="">
    <b-row>
      <b-col class="title">
        기본 정보
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <label>userId<span class="em-check">*</span></label>
        <n-input name="userId"
                 v-model="add.userId"
                 :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                 :number="true"
                 :parent="add"/>
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <label>title<span class="em-check">*</span></label>
        <n-input name="title"
                 v-model="add.title"
                 :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                 :parent="add"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {SampleAlbum} from '@/app/sample/album/model/sample-album.model';

@Component
export default class SampleAlbumAdd extends Vue {
  add: SampleAlbum.Request.Add = new SampleAlbum.Request.Add();
}
</script>
