<template>
  <b-modal v-model="isVisible"
           id="SystemSettingModal"
           centered
           size="lg"
           title="시스템 설정"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <b-container class="view-box" fluid="">
        <b-row>
          <b-col class="title">
            기본 정보
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <label>페이지 크기<span class="em-check">*</span></label>
            <n-select name="size"
                      v-model="setting.size"
                      :option="sizeOptions"/>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <label>기본표시언어<span class="em-check">*</span></label>
            <n-select name="lang"
                      v-model="setting.lang"
                      :enum="$enum.CORE.I18N.LANG"/>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <template slot="modal-footer" slot-scope="{ ok, hide }">
      <div class="w-100 text-center">
        <n-confirm type="APPLY">
          <b-button variant="dark" @click="onApply">적용</b-button>
        </n-confirm>

        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch} from 'vue-property-decorator';

import {N_PAGE_INFO_CONFIG} from '@/app/shared/config/n-page-info.config';
import {Layout}             from '@/app/system/model/layout.model';
import StorageService       from '@/app/shared/service/storage.service';

@Component
export default class SystemSettingModal extends Vue {
  isVisible: boolean = true;
  setting: Layout.SystemSetting = new Layout.SystemSetting();
  sizeOptions = N_PAGE_INFO_CONFIG;
  storageService = new StorageService();

  onApply() {
    this.storageService.setLocalStorage(this.$enum.CORE.STORAGE.KEY.LIVE_SYSTEM, this.setting);
    this.isVisible = false;
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$broadcast.onSettingChange();
      this.$emit('input', null);
    }
  }
}
</script>
