<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container fluid="" class="search-box">
      <b-form @submit.prevent="onSearch">
        <b-row>
          <b-col>
            <label>검색어1</label>
            <n-select v-model="search.search1"
                      :enum="guideEnum.SELECT"
                      :useAll="true"/>
          </b-col>

          <b-col>
            <label>검색어2</label>
            <b-input v-model="search.search2"
                     type="text"
                     autocomplete="off"/>
          </b-col>

          <n-search-buttons :isRefresh="true" @onRefresh="onRefresh"/>
        </b-row>
      </b-form>
    </b-container>

    <n-page-info v-model="search.size" :page="page">
      <b-button variant="primary">등록</b-button>
    </n-page-info>

    <b-row class="mt-3">
      <b-col class="list-table">
        <div>
          <table>
            <colgroup>
              <col style="width:60px;"/>
              <col style="width:50%"/>
              <col style="width:50%"/>
              <col style="width:100px;"/>
              <col style="width:100px;"/>
              <col style="width:150px;"/>
            </colgroup>
            <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>URL</th>
              <th>노출여부</th>
              <th>등록자</th>
              <th>등록일시</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in page.content" class="handle">
              <td>
                <n-list-number :index="index" :target="page" :is-page="true"/>
              </td>
              <td class="text-left">
                <b-badge class="mr-1" variant="success">4</b-badge>
                {{ item.name }}
              </td>
              <td class="text-left">{{ item.url }}</td>
              <td>{{ item.displayYn | optionFilter($option.BOOLEAN.COMMON) }}</td>
              <td>{{ item.createdBy }}</td>
              <td>{{ item.createdAt | dateFilter }}</td>
            </tr>

            <tr v-if="!$util.safeCall(page, 'content') || (!!page.content && page.content.length === 0)">
              <td colspan="6">검색 결과가 없습니다.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <n-page-navigation :page="page" @changed="changePages"/>
      </b-col>
    </b-row>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          draggable + vue-sticky-directive
        </b-col>
      </b-row>

      <b-row class="mt-3">
        <b-col class="list-table sticky-table-bottom" sticky-container>
          <div class="sticky-table-wrap">
            <table>
              <colgroup>
                <col style="width:30px;"/>
                <col style="width:60px;"/>
                <col style="width:50%"/>
                <col style="width:50%"/>
                <col style="width:100px;"/>
                <col style="width:100px;"/>
                <col style="width:150px;"/>
              </colgroup>
              <thead>
              <tr>
                <th></th>
                <th>번호</th>
                <th>이름</th>
                <th>URL</th>
                <th>노출여부</th>
                <th>등록자</th>
                <th>등록일시</th>
              </tr>
              </thead>
              <draggable v-model="page.content" tag="tbody" handle=".handle">
                <tr v-for="(item, index) in page.content">
                  <td class="handle">
                    <i class="fas fa-lg fa-sort"></i>
                  </td>
                  <td>
                    <n-list-number :index="index" :target="page" :is-page="true"/>
                  </td>
                  <td class="text-left">{{ item.name }}</td>
                  <td class="text-left">{{ item.url }}</td>
                  <td>{{ item.displayYn | optionFilter($option.BOOLEAN.COMMON) }}</td>
                  <td>{{ item.createdBy }}</td>
                  <td>{{ item.createdAt | dateFilter }}</td>
                </tr>

                <tr v-if="!$util.safeCall(page, 'content') || (!!page.content && page.content.length === 0)">
                  <td colspan="7">검색 결과가 없습니다.</td>
                </tr>
              </draggable>
            </table>

            <div class="sticky-bottom" v-sticky sticky-side="bottom">
              <div class="btn-up handle">
                <i class="fas fa-angle-double-up"></i>
              </div>
              <div class="btn-down handle">
                <i class="fas fa-angle-double-down"></i>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import draggable        from 'vuedraggable';
import {Component, Vue} from 'vue-property-decorator';

import {GuideEnum} from '@/app/guide/model/guide.enum';
import {Guide}     from '@/app/guide/model/guide.model';
import {Pageable}  from '@/app/shared/model/pageable.model';

@Component({
  components: {draggable}
})
export default class GuideList extends Vue {
  guideEnum = GuideEnum;
  search: Guide.Search = new Guide.Search;
  page: Pageable.Response.Page<Guide.Page> = new Pageable.Response.Page<Guide.Page>();

  created() {
    const page: Pageable.Response.Page<Guide.Page> = new Pageable.Response.Page<Guide.Page>();

    page.first = true;
    page.last = true;
    page.number = 0;
    page.numberOfElements = 10;
    page.size = 10;
    page.totalElements = 10;
    page.totalPages = 1;
    page.content = [
      new Guide.Page(1, 'TEST'),
      new Guide.Page(2, 'TEST'),
      new Guide.Page(3, 'TEST'),
      new Guide.Page(4, 'TEST'),
      new Guide.Page(5, 'TEST'),
      new Guide.Page(6, 'TEST'),
      new Guide.Page(7, 'TEST'),
      new Guide.Page(8, 'TEST'),
      new Guide.Page(9, 'TEST'),
      new Guide.Page(10, 'TEST'),
    ];

    this.page = page;
  }

  onSearch(event) {
    console.info(event);
  }

  changePages(page) {
    console.info(page);
  }

  onRefresh() {
    this.search = new Guide.Search;
  }
}
</script>
