<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Editor
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Require</label>
          <n-i18n-editor v-model="params.require" :type="$enum.CORE.I18N.TYPE.EDITOR.REQUIRE"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>FullRequire</label>
          <n-i18n-editor v-model="params.fullRequire" :type="$enum.CORE.I18N.TYPE.EDITOR.FULL_REQUIRE"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Optional</label>
          <n-i18n-editor v-model="params.optional" :type="$enum.CORE.I18N.TYPE.EDITOR.OPTIONAL"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Require Max</label>
          <n-i18n-editor v-model="params.requireMax" :type="$enum.CORE.I18N.TYPE.EDITOR.REQUIRE_MAX"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>FullRequire Max</label>
          <n-i18n-editor v-model="params.fullRequireMax" :type="$enum.CORE.I18N.TYPE.EDITOR.FULL_REQUIRE_MAX"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Optional Max</label>
          <n-i18n-editor v-model="params.optionalMax" :type="$enum.CORE.I18N.TYPE.EDITOR.OPTIONAL_MAX"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Require Display</label>
          <n-i18n-editor-display v-model="params.require"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>FullRequire Display</label>
          <n-i18n-editor-display v-model="params.fullRequire"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Optional Display</label>
          <n-i18n-editor-display v-model="params.optional"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Require Max Display</label>
          <n-i18n-editor-display v-model="params.requireMax"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>FullRequire Max Display</label>
          <n-i18n-editor-display v-model="params.fullRequireMax"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Optional Max Display</label>
          <n-i18n-editor-display v-model="params.optionalMax"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Require</label>
          {{ params.require }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>FullRequire</label>
          {{ params.fullRequire }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Optional</label>
          {{ params.optional }}
        </b-col>
      </b-row>

      <b-row>
        <b-col class="pre-line">
          <label>Require Max</label>{{ params.requireMax | jsonPrettyFilter }}</b-col>
      </b-row>

      <b-row>
        <b-col class="pre-line">
          <label>FullRequire Max</label>{{ params.fullRequireMax | jsonPrettyFilter }}</b-col>
      </b-row>

      <b-row>
        <b-col class="pre-line">
          <label>Optional Max</label>{{ params.optionalMax | jsonPrettyFilter }}</b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button variant="secondary" @click="copyClipBoardEn" class="mr-2">(EN) COPY CHANNEL SAMPLE DATA</b-button>
          <b-button variant="secondary" @click="copyClipBoardKr" class="mr-2">(KR) COPY CHANNEL SAMPLE DATA</b-button>
          <b-button variant="secondary" @click="copyClipBoardPayment">(EN) COPY PAYMENT SAMPLE DATA</b-button>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Type
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Channel</label>
          <n-i18n-editor v-model="type.channel" :type="$enum.CORE.I18N.TYPE.EDITOR.REQUIRE_MAX" classes="channel-editor"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Payment</label>
          <n-i18n-editor v-model="type.payment" :type="$enum.CORE.I18N.TYPE.EDITOR.REQUIRE_MAX" classes="payment-editor"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Channel</label>
          <n-i18n-editor-display v-model="type.channel" classes="channel-editor"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Payment</label>
          <n-i18n-editor-display v-model="type.payment" classes="payment-editor"/>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {CODE_EDITOR_CONTENT, CODE_EDITOR_CONTENT_KR, CODE_EDITOR_CONTENT_PAYMENT} from '@/app/guide/config/guide.config';
import {Guide}                                                                    from '@/app/guide/model/guide.model';

@Component
export default class GuideEditor extends Vue {
  params: Guide.Editor = new Guide.Editor();
  type: Guide.EditorType = new Guide.EditorType();

  copyClipBoardEn() {
    this.$util.copyClipBoard(CODE_EDITOR_CONTENT);
  }

  copyClipBoardKr() {
    this.$util.copyClipBoard(CODE_EDITOR_CONTENT_KR);
  }

  copyClipBoardPayment() {
    this.$util.copyClipBoard(CODE_EDITOR_CONTENT_PAYMENT);
  }
}
</script>
