<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          기본
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button class="mr-1" @click="onMapModal">Map</b-button>
        </b-col>
      </b-row>

      <b-row>
        <b-col style="max-height: 600px; overflow: hidden; overflow-y: auto;">
          <b-embed ref="b-embed-map-view"
                   type="iframe"
                   src="/image-map-view.html"
                   @load="iframeLoad">
          </b-embed>
        </b-col>
      </b-row>

      <b-row class="mt-3">
        <b-col class="list-table">
          <div>
            <table>
              <colgroup>
                <col style="width:60px;"/>
                <col style="width:100px;"/>
                <col style="width:200px;"/>
                <col/>
                <col style="width:100px;"/>
              </colgroup>
              <thead>
              <tr>
                <th>번호</th>
                <th>type</th>
                <th>coords</th>
                <th>description</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in items" class="handle">
                <td>
                  <n-list-number :index="index" :target="items" :is-page="false"/>
                </td>
                <td>{{ item.type | enumCodeFilter(guideEnum.SHAPE) }}</td>
                <td>{{ item.coords }}</td>
                <td>
                  <n-input name="description"
                           v-model="item.description"
                           :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                           :parent="item"/>
                </td>
                <td>
                  <b-button type="button" class="btn-sm" variant="outline-secondary" @click="onFocus(index, item.coords)">확인</b-button>
                </td>
              </tr>

              <tr v-if="!!items && items.length === 0">
                <td colspan="5">검색 결과가 없습니다.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <component :is="modal" v-model="modal" :url="url" :items="items" @onapply="onApply"/>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {GuideEnum}   from '@/app/guide/model/guide.enum';
import {Guide}       from '@/app/guide/model/guide.model';
import GuideMapModal from '@/app/guide/components/modals/guide-map.modal.vue';

@Component
export default class GuideMap extends Vue {
  modal: any = null;
  id: string = this.$util.getRandomKey('GuideMap');
  guideEnum = GuideEnum;
  url: string = 'https://cdn-lostark.game.onstove.com/2018/obt/assets/images/pc/main/modal_present_contents.jpg?a8a42cb32d9428630935930ce7b2a97a';
  items: Guide.ImageMap[] = [];

  iframeLoad() {
    this.sendChildFrame({
      action: 'INIT',
      type  : 'VIEW',
      id    : this.id,
      url   : this.url,
      items : this.items
    });
  }

  async onMapModal() {
    this.modal = await GuideMapModal;
  }

  onApply(items: Guide.ImageMap[]) {
    const org: Guide.ImageMap[] = this.$mapper.toArray(Guide.ImageMap, this.items);
    this.items = items;

    this.sendChildFrame({
      action: 'CHANGE',
      type  : 'VIEW',
      id    : this.id,
      items : this.items
    });

    this.$nextTick(() => {
      org.forEach((value: Guide.ImageMap, index: number) => {
        if (!!this.items[index]) {
          this.items[index].description = value.description;
        }
      });
    });
  }

  onFocus(index: number, coords: number[]) {
    this.sendChildFrame({
      action: 'FOCUS',
      type  : 'VIEW',
      id    : this.id,
      index,
      coords
    });
  }

  private getViewDom(): any {
    const frame: any = this.$refs['b-embed-map-view'] as any;
    const innerFrame: any = frame.children[0] as any;

    let document: any = null;
    if (!!innerFrame && !!innerFrame.contentWindow) {
      // FF Chrome
      document = innerFrame.contentWindow;
    } else if (!!innerFrame.contentWindow) {
      // IE
      document = innerFrame.contentWindow;
    }

    return document;
  }

  private sendChildFrame(data: any) {
    const document: any = this.getViewDom();

    if (!!document) {
      document.postMessage(data, '*');
    }
  }
}
</script>
