<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Emoji
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Emoji Input<span class="em-check">*</span></label>
          <b-input-group>
            <b-input type="text"
                     v-model="name"
                     autocomplete="off"/>

            <b-input-group-append>
              <b-button id="popover-3"
                        size="sm"
                        type="button"
                        class="input-button"
                        variant="dark">
                <i class="far fa-smile-wink"></i>
              </b-button>

              <b-popover target="popover-3" triggers="focus click">
                <VEmojiPicker @select="selectEmoji"/>
              </b-popover>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Emoji</label>
        </b-col>
        <b-col>
          {{ name }}
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {VEmojiPicker}   from 'v-emoji-picker';
import {Emoji}          from 'v-emoji-picker/lib/models/Emoji';

@Component({
  components: {VEmojiPicker}
})
export default class GuideEmoji extends Vue {
  name: string = '';

  selectEmoji(emoji: Emoji) {
    this.name += emoji.data;
  }
}
</script>
