<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Span Type
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-row>
            <b-col>
              <div class="span-container">
                <n-span :enum="guideEnum.CODE_SPAN.TYPE" v-model="guideEnum.CODE_SPAN.TYPE.ENUM.TYPE_1"/>
              </div>
            </b-col>

            <b-col>
              <div class="span-container">
                <n-span iconType="icon-type-2" :enum="guideEnum.CODE_SPAN.TYPE" v-model="guideEnum.CODE_SPAN.TYPE.ENUM.TYPE_2"/>
              </div>
            </b-col>

            <b-col>
              <div class="span-container">
                <n-span type="span-icon2" :enum="guideEnum.CODE_SPAN.TYPE" v-model="guideEnum.CODE_SPAN.TYPE.ENUM.TYPE_3"/>
              </div>
            </b-col>

            <b-col>
              <div class="span-container">
                <n-span type="span-icon2" iconType="icon-type-2" :enum="guideEnum.CODE_SPAN.TYPE" v-model="guideEnum.CODE_SPAN.TYPE.ENUM.TYPE_4"/>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Color (span-icon icon-type-1)
        </b-col>
      </b-row>

      <b-row>
        <template v-for="span in enumSpan">
          <b-col cols="3">
            <div class="span-container">
              <n-span :enum="guideEnum.CODE_SPAN.SPAN" v-model="span.value"/>
            </div>
          </b-col>
        </template>
      </b-row>

      <b-row>
        <b-col class="title">
          Color (span-icon icon-type-2)
        </b-col>
      </b-row>

      <b-row>
        <template v-for="span in enumSpan">
          <b-col cols="3">
            <div class="span-container">
              <n-span iconType="icon-type-2" :enum="guideEnum.CODE_SPAN.SPAN" v-model="span.value"/>
            </div>
          </b-col>
        </template>
      </b-row>

      <b-row>
        <b-col class="title">
          Color (span-icon2 icon-type-1)
        </b-col>
      </b-row>

      <b-row>
        <template v-for="span in enumSpan">
          <b-col cols="3">
            <div class="span-container">
              <n-span type="span-icon2" :enum="guideEnum.CODE_SPAN.SPAN" v-model="span.value"/>
            </div>
          </b-col>
        </template>
      </b-row>

      <b-row>
        <b-col class="title">
          Color (span-icon2 icon-type-2)
        </b-col>
      </b-row>

      <b-row>
        <template v-for="span in enumSpan">
          <b-col cols="3">
            <div class="span-container">
              <n-span type="span-icon2" iconType="icon-type-2" :enum="guideEnum.CODE_SPAN.SPAN" v-model="span.value"/>
            </div>
          </b-col>
        </template>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {GuideEnum} from '@/app/guide/model/guide.enum';
import EnumService from '@/app/shared/service/enum.service';

@Component
export default class GuideSpan extends Vue {
  guideEnum = GuideEnum;
  enumService = new EnumService();
  enumSpan = this.enumService.getOptions(GuideEnum.CODE_SPAN.SPAN);
}
</script>
