<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Input
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input<span class="em-check">*</span></label>
          <sample-album-input name="input1"
                              v-model="params.input1"
                              :parent="params"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Detail</label>
        </b-col>
        <b-col>
          <sample-album-display v-model="params.input1"/>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Filter
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Default</label>
        </b-col>
        <b-col>
          {{ test1 | connectionFilter }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Pattern1</label>
        </b-col>
        <b-col>
          {{ test2 | connectionFilter({name: 'title'}) }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Pattern2</label>
        </b-col>
        <b-col>
          {{ test3 | connectionFilter({id: 'key'}) }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Pattern3</label>
        </b-col>
        <b-col>
          {{ test4 | connectionFilter({id: 'key', name: 'title'}) }}
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Guide}            from '@/app/guide/model/guide.model';
import SampleAlbumInput   from '@/app/sample/album/components/sample-album-input.vue';
import SampleAlbumDisplay from '@/app/sample/album/components/sample-album-display.vue';

@Component({
  components: {SampleAlbumDisplay, SampleAlbumInput}
})
export default class GuideRelative extends Vue {
  params: Guide.Connection = new Guide.Connection();
  test1 = {id: '00001_id', name: 'name'};
  test2 = {id: '00002_id', title: 'title'};
  test3 = {key: '00003_key', name: 'name'};
  test4 = {key: '00004_key', title: 'title'};
}
</script>
