<template>
  <b-container fluid="">
    <n-title-box/>
    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Cols
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 1</label>
          <b-row>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 2</label>
          <b-row>
            <b-col class="cols-display" cols="2">cols 2</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 3</label>
          <b-row>
            <b-col class="cols-display" cols="3">cols 3</b-col>
            <b-col class="cols-display" cols="3">cols 3</b-col>
            <b-col class="cols-display" cols="3">cols 3</b-col>
            <b-col class="cols-display" cols="3">cols 3</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 4</label>
          <b-row>
            <b-col class="cols-display" cols="4">cols 4</b-col>
            <b-col class="cols-display" cols="4">cols 4</b-col>
            <b-col class="cols-display" cols="4">cols 4</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 5</label>
          <b-row>
            <b-col class="cols-display" cols="5">cols 5</b-col>
            <b-col class="cols-display" cols="5">cols 5</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 6</label>
          <b-row>
            <b-col class="cols-display" cols="6">cols 6</b-col>
            <b-col class="cols-display" cols="6">cols 6</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Cols 7</label>
          <b-row>
            <b-col class="cols-display" cols="7">cols 7</b-col>
            <b-col class="cols-display" cols="5">cols 5</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Auto Cols 7</label>
          <b-row>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display">cols 1</b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Auto Cols</label>
          <b-row>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display" cols="2">cols 2</b-col>
            <b-col class="cols-display">cols 1</b-col>
            <b-col class="cols-display" cols="4">cols 4</b-col>
            <b-col class="cols-display">cols 1</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class GuideCols extends Vue {
}
</script>

<style scoped>
.cols-display {
  border: #2e2e2e 1px solid;
  height: 30px;
  text-align: center;
}
</style>
