<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Modal
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button class="mr-1" @click="onListModal">LIST</b-button>
          <b-button class="mr-1" @click="onDetailModal">DETAIL</b-button>
          <b-button class="mr-1" @click="onEditModal">EDIT</b-button>
          <b-button class="mr-1" @click="onSplitModal">SPLIT</b-button>
        </b-col>
      </b-row>
    </b-container>

    <component :is="modal" v-model="modal"/>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import GuideListModal   from '@/app/guide/components/modals/guide-list.modal.vue';
import GuideDetailModal from '@/app/guide/components/modals/guide-detail.modal.vue';
import GuideEditModal   from '@/app/guide/components/modals/guide-edit.modal.vue';
import GuideSplitModal  from '@/app/guide/components/modals/guide-split.modal.vue';

@Component
export default class GuideModal extends Vue {
  modal: any = null;

  async onListModal() {
    this.modal = await GuideListModal;
  }

  async onDetailModal() {
    this.modal = await GuideDetailModal;
  }

  async onEditModal() {
    this.modal = await GuideEditModal;
  }

  async onSplitModal() {
    this.modal = await GuideSplitModal;
  }
}
</script>
