<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          I18n
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Require<span class="em-check">*</span></label>
          <n-i18n-input v-model="form.require"
                        :type="$enum.CORE.I18N.TYPE.INPUT.REQUIRE"/>
        </b-col>

        <b-col>
          <label>Input Require</label>
          {{ form.require }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input FullRequire<span class="em-check">*</span></label>
          <n-i18n-input v-model="form.fullRequire"
                        :type="$enum.CORE.I18N.TYPE.INPUT.FULL_REQUIRE"/>
        </b-col>

        <b-col>
          <label>Input FullRequire</label>
          {{ form.fullRequire }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Optional</label>
          <n-i18n-input v-model="form.optional"
                        :type="$enum.CORE.I18N.TYPE.INPUT.OPTIONAL"/>
        </b-col>

        <b-col>
          <label>Input Optional</label>
          {{ form.optional }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Textarea Require<span class="em-check">*</span></label>
          <n-i18n-textarea v-model="form.areaRequire"
                           :type="$enum.CORE.I18N.TYPE.TEXT_AREA.REQUIRE"/>
        </b-col>

        <b-col>
          <label>Textarea Require</label>
          {{ form.areaRequire }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Textarea FullRequire<span class="em-check">*</span></label>
          <n-i18n-textarea v-model="form.areaFullRequire"
                           :type="$enum.CORE.I18N.TYPE.TEXT_AREA.FULL_REQUIRE"/>
        </b-col>

        <b-col>
          <label>Textarea FullRequire</label>
          {{ form.areaFullRequire }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Textarea Optional</label>
          <n-i18n-textarea v-model="form.areaOptional"
                           :type="$enum.CORE.I18N.TYPE.TEXT_AREA.OPTIONAL"/>
        </b-col>

        <b-col>
          <label>Textarea Optional</label>
          {{ form.areaOptional }}
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Image Require<span class="em-check">*</span></label>
          <n-i18n-image v-model="form.imageRequire"
                        :type="$enum.CORE.I18N.TYPE.IMAGE.REQUIRE"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Image FullRequire<span class="em-check">*</span></label>
          <n-i18n-image v-model="form.imageFullRequire"
                        :type="$enum.CORE.I18N.TYPE.IMAGE.FULL_REQUIRE"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Image Optional</label>
          <n-i18n-image v-model="form.imageOptional"
                        :type="$enum.CORE.I18N.TYPE.IMAGE.OPTIONAL"/>
        </b-col>
      </b-row>

      <b-button variant="secondary" @click="validateForm(form)">validateForm</b-button>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Require</label>
        </b-col>
        <b-col>
          <n-i18n-display v-model="form.require"/>
        </b-col>

        <b-col cols="2">
          <label>Input FullRequire</label>
        </b-col>
        <b-col>
          <n-i18n-display v-model="form.fullRequire"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Optional</label>
        </b-col>
        <b-col>
          <n-i18n-display v-model="form.optional"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input One Require</label>
        </b-col>
        <b-col>
          <n-i18n-one-display v-model="form.require"/>
        </b-col>

        <b-col cols="2">
          <label>Input One FullRequire</label>
        </b-col>
        <b-col>
          <n-i18n-one-display v-model="form.fullRequire"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input One Optional</label>
        </b-col>
        <b-col>
          <n-i18n-one-display v-model="form.optional"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Textarea Require</label>
        </b-col>
        <b-col>
          <n-i18n-textarea-display v-model="form.areaRequire"/>
        </b-col>

        <b-col cols="2">
          <label>Textarea FullRequire</label>
        </b-col>
        <b-col>
          <n-i18n-textarea-display v-model="form.areaFullRequire"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Textarea Optional</label>
        </b-col>
        <b-col>
          <n-i18n-textarea-display v-model="form.areaOptional"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Image Require</label>
        </b-col>
        <b-col>
          <n-i18n-image-display v-model="form.imageRequire"/>
        </b-col>

        <b-col cols="2">
          <label>Image FullRequire</label>
        </b-col>
        <b-col>
          <n-i18n-image-display v-model="form.imageFullRequire"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Image Optional</label>
        </b-col>
        <b-col>
          <n-i18n-image-display v-model="form.imageOptional"/>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Validate} from '@/core/decorator/validate.decorator';
import {Guide}    from '@/app/guide/model/guide.model';
import NI18nImage from '@/app/shared/components/form/n-i18n-image.vue';

@Component({
  components: {NI18nImage}
})
export default class GuideI18n extends Vue {
  form: Guide.GuideI18n = this.$mapper.toObject(Guide.GuideI18n, new Guide.GuideI18n());

  @Validate
  validateForm(params: Guide.GuideI18n) {
    console.log(params);
  }
}
</script>
