<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Input
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Modal Input<span class="em-check">*</span></label>
          <b-input-group>
            <b-input :state="true" readonly autocomplete="off"/>

            <b-input-group-append>
              <b-button size="sm" variant="success" class="input-button">
                <i class="fas fa-plus"></i>
              </b-button>

              <b-button size="sm" variant="warning" class="input-button">
                <i class="fas fa-pen"></i>
              </b-button>

              <b-button size="sm" variant="info" class="input-button">
                <i class="fas fa-search"></i>
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Text<span class="em-check">*</span></label>
          <n-input name="inputText"
                   v-model="form.inputText"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"
                   :max-length="3"/>
        </b-col>

        <b-col>
          <label>Input Number<span class="em-check">*</span></label>
          <n-input name="inputNumber"
                   v-model="form.inputNumber"
                   :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                   :number="true"
                   :parent="form"
                   step="1"
                   :min="0"
                   :max="600"
                   :max-length="3"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Won<span class="em-check">*</span></label>
          <n-input name="inputWon"
                   v-model="form.inputWon"
                   :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                   :number="true"
                   :parent="form"
                   step="1"
                   :min="0"/>
        </b-col>

        <b-col>
          <label>Input Dollar<span class="em-check">*</span></label>
          <n-input name="inputDollar"
                   v-model="form.inputDollar"
                   :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                   :number="true"
                   :parent="form"
                   step="0.01"
                   :min="0"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Number Option<span class="em-check">*</span></label>
          <n-input name="inputNumberOption"
                   v-model="form.inputNumberOption"
                   :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                   :number="true"
                   :parent="form"
                   step="1"
                   :min="0"
                   :max="600"/>
          {{form}}
        </b-col>

        <b-col>
          <label>Input Disable<span class="em-check">*</span></label>
          <n-input name="inputTextDisable"
                   v-model="form.inputTextDisable"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"
                   :disabled="true"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Text</label>
        </b-col>
        <b-col>
          {{ form.inputText }}
        </b-col>

        <b-col cols="2">
          <label>Input Number</label>
        </b-col>
        <b-col>
          {{ form.inputNumber }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Won</label>
        </b-col>
        <b-col>
          {{ form.inputWon | commaFilter('₩') }}
        </b-col>

        <b-col cols="2">
          <label>Input Dollar</label>
        </b-col>
        <b-col>
          {{ form.inputDollar | commaFilter('$') }}
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Input - URL
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Absolute Url<span class="em-check">*</span></label>
          <n-input name="inputUrl"
                   v-model="form.inputUrl"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"/>
        </b-col>

        <b-col>
          <label>Input Relative Url<span class="em-check">*</span></label>
          <n-input name="inputRelativeUrl"
                   v-model="form.inputRelativeUrl"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Absolute Url</label>
        </b-col>
        <b-col>
          {{ form.inputUrl }}
        </b-col>

        <b-col cols="2">
          <label>Input Relative Url</label>
        </b-col>
        <b-col>
          {{ form.inputRelativeUrl }}
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Color
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Color<span class="em-check">*</span></label>
          <n-color name="inputColor"
                   v-model="form.inputColor"
                   :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Color</label>
        </b-col>
        <b-col>
          {{ form.inputColor }}
        </b-col>

        <b-col cols="2">
          <label>Color Component</label>
        </b-col>
        <b-col>
          <n-color-display v-model="form.inputColor"/>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Select
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>
            Select Enum<span class="em-check">*</span>
            <n-hint title="Select Enum" :enums="guideEnum.SELECT"/>
          </label>
          <n-select name="selectEnum"
                    v-model="form.selectEnum"
                    :defaultAs="$enum.CORE.FORM.OPTIONS.ALL"
                    :enum="guideEnum.SELECT"
                    :parent="form"/>
        </b-col>

        <b-col>
          <label>Select Boolean<span class="em-check">*</span></label>
          <n-select name="selectBoolean"
                    v-model="form.selectBoolean"
                    :option="$option.BOOLEAN.COMMON"
                    :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Select Disable<span class="em-check">*</span></label>
          <n-select name="selectEnumDisable"
                    v-model="form.selectEnumDisable"
                    :defaultAs="$enum.CORE.FORM.OPTIONS.ALL"
                    :enum="guideEnum.SELECT"
                    :parent="form"
                    :disabled="true"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Select Enum</label>
        </b-col>
        <b-col>
          {{ form.selectEnum }}
        </b-col>

        <b-col cols="2">
          <label>Select Enum Filter</label>
        </b-col>
        <b-col>
          {{ form.selectEnum | enumCodeFilter(guideEnum.SELECT) }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Select Enum Span</label>
        </b-col>
        <b-col>
          <n-span :value="form.selectEnum" :enum="guideEnum.SELECT"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Select Boolean</label>
        </b-col>
        <b-col>
          {{ form.selectBoolean }}
        </b-col>

        <b-col cols="2">
          <label>Select Boolean Filter</label>
        </b-col>
        <b-col>
          {{ form.selectBoolean | optionFilter($option.BOOLEAN.COMMON) }}
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Date Picker
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Time Picker<span class="em-check">*</span></label>
          <n-time name="time"
                  v-model="form.time"
                  :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Date Time Picker<span class="em-check">*</span></label>
          <n-date-time name="dateTime"
                       v-model="form.dateTime"
                       :parent="form"/>
        </b-col>

        <b-col>
          <label>Date Time Second Picker<span class="em-check">*</span></label>
          <n-date-time name="dateTimeSecond"
                       v-model="form.dateTimeSecond"
                       :datePattern="$enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME_SECOND"
                       :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Date Time Range Picker<span class="em-check">*</span></label>
          <n-date-time-range name="dateTimeRangeStart"
                             :startDate="form.dateTimeRangeStart"
                             :endDate="form.dateTimeRangeEnd"
                             :keys="{ startDate: 'dateTimeRangeStart', endDate: 'dateTimeRangeEnd', startIndex: 0, endIndex: 0 }"
                             :parent="form"
                             @input="changeDateTimeRange"/>
        </b-col>

        <b-col>
          <label>Date Time Second Range Picker<span class="em-check">*</span></label>
          <n-date-time-range name="dateTimeSecondRangeStart"
                             :startDate="form.dateTimeSecondRangeStart"
                             :endDate="form.dateTimeSecondRangeEnd"
                             :keys="{ startDate: 'dateTimeSecondRangeStart', endDate: 'dateTimeSecondRangeEnd', startIndex: 0, endIndex: 0 }"
                             :datePattern="$enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME_SECOND"
                             :parent="form"
                             @input="changeDateTimeRange"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Time Picker</label>
        </b-col>
        <b-col>
          {{ form.time }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Date Time Picker</label>
        </b-col>
        <b-col>
          {{ form.dateTime }}
        </b-col>

        <b-col cols="2">
          <label>Date Time Second Picker</label>
        </b-col>
        <b-col>
          {{ form.dateTimeSecond }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Date Time Range Picker</label>
        </b-col>
        <b-col>
          {{ form.dateTimeRangeStart }} ~ {{ form.dateTimeRangeEnd }}
        </b-col>

        <b-col cols="2">
          <label>Date Time Second Range Picker</label>
        </b-col>
        <b-col>
          {{ form.dateTimeSecondRangeStart }} ~ {{ form.dateTimeSecondRangeEnd }}
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Text Area
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Text Area<span class="em-check">*</span></label>
          <n-textarea name="textarea"
                      v-model="form.textarea"
                      :limits="3"
                      :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Text Area</label>
        </b-col>
        <b-col class="pre-line">{{ form.textarea }}</b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Radio
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>노출여부</label>
          <b-form-radio-group v-model="form.radio">
            <b-form-radio :value="'1'">first</b-form-radio>
            <b-form-radio :value="'2'">second</b-form-radio>
            <b-form-radio :value="'3'">third</b-form-radio>
          </b-form-radio-group>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {GuideEnum} from '@/app/guide/model/guide.enum';
import {Guide}     from '@/app/guide/model/guide.model';
import {DateTime}  from '@/app/shared/model/date-time.model';

@Component
export default class GuideForm extends Vue {
  form: Guide.Form = this.$mapper.toObject(Guide.Form, new Guide.Form);
  guideEnum = GuideEnum;

  changeDateTimeRange(data: DateTime.RangeCallback) {
    console.log(data);
    this.form[data.keys.startDate] = data.startDate;
    this.form[data.keys.endDate] = data.endDate;
  }
}
</script>
