<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Files
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>File Input<span class="em-check">*</span></label>
          <div class="img-box">
            <div class="img-wrap img-size-100"
                 @click="clickImage"
                 @drop.prevent="onDrop"
                 @dragover.prevent
                 @dragenter.prevent>
              <img src="@/assets/images/blank_200.png"/>
            </div>

            <input type="file"
                   name="file"
                   ref="file"
                   @change="onClick"
                   accept="image/*"
                   hidden/>
          </div>
        </b-col>

        <b-col>
          <label>File Image hover<span class="em-check">*</span></label>
          <div class="img-box img-box-hover">
            <div class="img-wrap img-size-100">
              <img src="@/assets/images/blank_200.png"/>
            </div>

            <button class="btn-image-del fas fa-times" type="button">
              <span>삭제</span>
            </button>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Image Size
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Size 100<span class="em-check">*</span></label>
          <div class="img-box">
            <div class="img-wrap img-size-100">
              <img src="@/assets/images/blank_200.png"/>
            </div>
          </div>
        </b-col>

        <b-col>
          <label>Size 50<span class="em-check">*</span></label>
          <div class="img-box">
            <div class="img-wrap img-size-50">
              <img src="@/assets/images/blank_200.png"/>
            </div>
          </div>
        </b-col>

        <b-col>
          <label>Size 24<span class="em-check">*</span></label>
          <div class="img-box">
            <div class="img-wrap img-size-24">
              <img src="@/assets/images/blank_200.png"/>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class GuideFile extends Vue {
  clickImage() {
    const file = this.$refs.file as HTMLInputElement;
    file.click();
  }

  onDrop(event: DragEvent) {
    if (!!event.dataTransfer && !!event.target) {
      this.onFileUpload(event.dataTransfer.files[0]);
    }
  }

  onClick(event) {
    if (!!event.target) {
      this.onFileUpload(event.target.files[0]);
    }
  }

  onFileUpload(file: File) {
    console.info('file : ', file);
  }
}
</script>
