<template>
  <b-row class="lang-box">
    <b-col class="lang-span" v-if="isTag">
      <n-i18n-span/>
    </b-col>

    <b-col>
      <b-input-group>
        <n-image :id="randomId"
                 v-model="display"
                 :size="size"
                 :disable-viewer="true"/>
      </b-input-group>

      <b-popover :target="randomId"
                 triggers="hover focus"
                 custom-class="popover-200px">

        <template slot="title">
          <div class="popover-title">다국어</div>
        </template>

        <b-container class="view-popover" fluid="">
          <template v-for="lang in enumService.getEnums($enum.CORE.I18N.LANG.ENUM)">
            <b-row>
              <b-col class="pl-0 pr-0">
                <label>
                  {{ $enum.CORE.I18N.LANG.NAME[lang] }}
                </label>
                <n-image v-model="model[lang]"
                         :size="100"/>
              </b-col>
            </b-row>
          </template>
        </b-container>
      </b-popover>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {Image}     from '@/app/shared/model/image.model';
import {I18nFile}  from '@/app/shared/model/i18n-file.model';
import {broadcast} from '@/core/service/broadcast.service';
import EnumService from '@/app/shared/service/enum.service';
import I18nService from '@/app/shared/service/i18n.service';

@Component
export default class NI18nImageDisplay extends Vue {
  display: Image.Response.Default | null = null;
  model: I18nFile.Input.Display = this.$mapper.toObject(I18nFile.Input.Display, new I18nFile.Input.Display());
  randomId: string = this.$util.getRandomKey('NI18nImageDisplay');
  enumService: EnumService = new EnumService();
  service: I18nService = new I18nService();

  @Prop({default: null})
  value!: I18nFile.Response.Default[] | null;

  @Prop({type: Number, default: 100})
  size!: string;

  @Prop({default: true})
  isTag!: boolean;

  created() {
    this.changeDisplay();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.changeDisplay);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.changeDisplay);
  }

  @Watch('value', {deep: true, immediate: true})
  getValue() {
    this.changeDisplay();
  }

  private changeDisplay() {
    this.getDisplay();
    this.getModelDisplay();
  }

  private getDisplay() {
    this.$nextTick(() => {
      if (!!this.value) {
        this.display = this.service.getImage(this.value);
      }
    });
  }

  private getModelDisplay() {
    this.$nextTick(() => {
      if (!!this.value) {
        this.model = this.$mapper.toObject(I18nFile.Input.Display, new I18nFile.Input.Display());

        this.value.forEach((lang: I18nFile.Response.Default) => {
          this.model[lang.languageType] = lang.image;
        });
      }
    });
  }
}
</script>
