<template>
  <b-row class="lang-box">
    <b-col class="lang-span" v-if="isTag">
      <n-i18n-span/>
    </b-col>

    <b-col>
      <b-row class="pt-0 pb-0">
        <b-row class="lang-box">
          <b-col class="pl-2 word-break-break-all">
            <n-textarea-display v-model="name" :id="randomId"/>

            <b-popover :target="randomId"
                       custom-class="popover-60"
                       triggers="hover focus">
              <template slot="title">
                <div class="popover-title">다국어</div>
              </template>

              <b-row class="pt-0 pb-0">
                <template v-for="lang in enumService.getEnums($enum.CORE.I18N.LANG.ENUM)">
                  <b-col cols="12">
                    <b-row class="lang-box">
                      <b-col class="lang-label">{{ $enum.CORE.I18N.LANG.NAME[lang] }}</b-col>
                      <b-col class="lang-separator">:</b-col>
                      <b-col class="pl-1 word-break-break-all">
                        <n-textarea-display v-model="model[lang]"/>
                      </b-col>
                    </b-row>
                  </b-col>
                </template>
              </b-row>
            </b-popover>
          </b-col>
        </b-row>
      </b-row>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {I18n}      from '@/app/shared/model/i18n.model';
import {broadcast} from '@/core/service/broadcast.service';
import EnumService from '@/app/shared/service/enum.service';
import I18nService from '@/app/shared/service/i18n.service';

@Component
export default class NI18nTextareaDisplay extends Vue {
  name: string = '';
  model: I18n.Input.Display = this.$mapper.toObject(I18n.Input.Display, new I18n.Input.Display());
  randomId: string = this.$util.getRandomKey('NI18nTextareaDisplay');
  enumService: EnumService = new EnumService();
  service: I18nService = new I18nService();

  @Prop({default: null})
  value!: I18n.Response.Default[] | null;

  @Prop({default: true})
  isTag!: boolean;

  created() {
    this.changeDisplay();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.changeDisplay);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.changeDisplay);
  }

  @Watch('value', {deep: true, immediate: true})
  getValue() {
    this.changeDisplay();
  }

  private changeDisplay() {
    this.getDisplay();
    this.getModelDisplay();
  }

  private getDisplay() {
    this.$nextTick(() => {
      if (!!this.value) {
        this.name = this.service.getContent(this.value);
      }
    });
  }

  private getModelDisplay() {
    this.$nextTick(() => {
      if (!!this.value) {
        this.model = this.$mapper.toObject(I18n.Input.Display, new I18n.Input.Display());

        this.value.forEach((lang: I18n.Response.Default) => {
          this.model[lang.languageType] = lang.content;
        });
      }
    });
  }
}
</script>
