<template>
  <span class="span-icon2 icon-type-2 status-28 mr-1">
    {{ $enum.CORE.I18N.LANG.NAME_SHORT[lang] }}
  </span>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {broadcast} from '@/core/service/broadcast.service';
import I18nService from '@/app/shared/service/i18n.service';

@Component
export default class NI18nSpan extends Vue {
  service = new I18nService();
  lang: Enum.CORE.I18N.LANG.ENUM = this.service.getLanguage();

  created() {
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getDisplay);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getDisplay);
  }

  private getDisplay() {
    this.$nextTick(() => {
      this.lang = this.service.getLanguage();
    });
  }
}
</script>

