<template>
  <b-row class="lang-box">
    <b-col class="lang-span">
      <n-i18n-span/>
    </b-col>

    <b-col>
      <b-row class="pt-0 pb-0">
        <b-col class="pl-2 word-break-break-all">
          <div v-html="name" :class="[classes, 'handle', 'code-editor-display']" @click="onEditor"/>
        </b-col>
      </b-row>
    </b-col>

    <component :is="modal" v-model="modal" :params="model" :classes="classes" :size="size" @apply="onApply"/>
  </b-row>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}                  from '@/app/shared/enum/enum';
import {I18n}                  from '@/app/shared/model/i18n.model';
import {broadcast}             from '@/core/service/broadcast.service';
import I18nService             from '@/app/shared/service/i18n.service';
import NI18nEditorDisplayModal from '@/app/shared/components/display/modal/n-i18n-editor-display.modal.vue';

@Component
export default class NI18nEditorDisplay extends Vue {
  modal: any = null;
  name: string = '';
  model: I18n.Input.Display | null = null;
  service = new I18nService();

  @Prop()
  value!: I18n.Response.Default[];

  @Prop({type: String, default: 'channel-editor'})
  classes!: string;

  @Prop({type: String, default: 'code-editor-size'})
  size!: string;

  created() {
    this.setValue();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  async onEditor() {
    this.modal = await NI18nEditorDisplayModal;
  }

  onApply(model: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax) {
    this.model = model;
  }

  setValue() {
    this.model = this.$mapper.toObject(I18n.Input.Display, new I18n.Input.Display());

    this.value.forEach((param: I18n.Request.Default) => {
      if (!!this.model && !!Enum.CORE.I18N.LANG.ENUM[param.languageType]) {
        this.model[param.languageType] = param.content;
      }
    });

    this.getName();
  }

  getName() {
    const language: Enum.CORE.I18N.LANG.ENUM = this.service.getLanguage();

    if (!!this.model) {
      this.name = !!this.model[language] ? this.model[language] : '';
    }
  }

  @Watch('value', {deep: true, immediate: true})
  getParams() {
    this.setValue();
  }
}
</script>
