<template>
  <b-row class="lang-box">
    <b-col class="lang-span" v-if="isTag">
      <span class="span-icon2 icon-type-2 status-30">다</span>
    </b-col>

    <b-col>
      <b-row class="pt-0 pb-0">
        <template v-for="lang in enumService.getEnums($enum.CORE.I18N.LANG.ENUM)">
          <b-col cols="12">
            <b-row class="lang-box">
              <b-col class="lang-label">{{ $enum.CORE.I18N.LANG.NAME[lang] }}</b-col>
              <b-col class="lang-separator">:</b-col>
              <b-col class="pl-1 word-break-break-all">{{ !!model[lang] ? model[lang] : '' }}</b-col>
            </b-row>
          </b-col>
        </template>
      </b-row>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {I18n}      from '@/app/shared/model/i18n.model';
import EnumService from '@/app/shared/service/enum.service';

@Component
export default class NI18nDisplay extends Vue {
  model: I18n.Input.Display = this.$mapper.toObject(I18n.Input.Display, new I18n.Input.Display());
  enumService = new EnumService();

  @Prop({default: null})
  value!: I18n.Response.Default[] | null;

  @Prop({default: true})
  isTag!: boolean;

  created() {
    this.getDisplay();
  }

  @Watch('value', {deep: true, immediate: true})
  getValue() {
    this.getDisplay();
  }

  private getDisplay() {
    this.$nextTick(() => {
      if (!!this.value) {
        this.model = this.$mapper.toObject(I18n.Input.Display, new I18n.Input.Display());

        this.value.forEach((lang: I18n.Response.Default) => {
          this.model[lang.languageType] = lang.content;
        });
      }
    });
  }
}
</script>

