<template>
  <span v-html="model"/>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

@Component
export default class NTextareaDisplay extends Vue {
  model: string | null = null;

  @Prop({default: null})
  value!: string;

  @Prop({type: String, default: ''})
  prepend!: string;

  @Prop({type: String, default: ''})
  append!: string;

  created() {
    this.setDisplay();
  }

  @Watch('value')
  getValue() {
    this.setDisplay();
  }

  setDisplay() {
    this.model = `${!!this.prepend ? this.prepend : ''}${!!this.value ? this.value : ''}${!!this.append ? this.append : ''}`.replace(/(?:\r\n|\r|\n)/g, '<br/>');
  }
}
</script>
