.channel-editor {
  background-color: #0a0a0f;
  padding: 40px 15px;
  overflow: scroll;
  color: #ffffff;

  .list-title {
    margin: 0 0 16px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 500;
  }

  .list-desc {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;

    & + list-desc {
      margin-top: 8px;
    }
  }

  .list-guide {
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
  }

  .list-depth1 {
    margin: 16px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 500;
  }

  .list-depth2 {
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
  }

  ul, ol {
    list-style-type: none;
  }
}

.payment-editor {
  font-family: 'Noto Sans KR' !important;
  overflow-y: scroll;
  margin-right: 16px;
  max-height: 703px;
  background-color: rgb(28, 28, 38);
  padding: 0 24px;
  color: #fff;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  h2 {
    font-family: 'Noto Sans KR' !important;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin-bottom: 14px;
    margin-top: 16px;
  }

  span {
    font-size: 16px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 24px;
    margin-bottom: 8px;
    display: block;
  }

  ul li {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    list-style: none;
  }

  p {
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
  }
}


.code-editor-size {
  min-height: 600px !important;
  max-height: 600px !important;
}

.code-editor-display {
  min-height: 200px !important;
  max-height: 200px !important;
}

// optional
.prism-editor__textarea:focus {
  outline: none;
}
