/* .sticky-table {
  height: 500px;
  overflow: auto;
  table-layout: fixed;
}

th.sticky-header {
  position: sticky;
  top: -1px;
  z-index: 10;
} */

html {
    height: 100%;
}

body {
    background-color: #f6f6f6;
    height: 100%;
}

.app {
    height: 100%;
}

/* sticky-table */
.sticky-table {
    position: relative;
    padding-top: 40px;
}

.sticky-table .sticky-table-wrap {
    overflow: auto;
    overflow-x: hidden;
}

.sticky-table .sticky-table-wrap table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.sticky-table .sticky-table-wrap table tr {
    display: inline-table;
    width: 100%;
    table-layout: fixed;
}

.sticky-table .sticky-table-wrap table thead {
    position: absolute;
    top: 0;
    padding-right: 15px;
}

.sticky-table thead th {
    height: 40px;
}

.sticky-table .sticky-table-wrap tbody tr {
    display: table-row;
}

.page-component-right {
    font-size: 11px;
    font-weight: bold;
    color: #5bb15e;
    font-style: italic;
    text-align: right !important;
}

.page-useyn-right {
    font-size: 11px;
    font-weight: bold;
    color: #b15b5b;
    font-style: italic;
    text-align: right !important;
}

/* init image */
.img-box .img-wrap {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ced4da
}

.img-box .img-wrap img {
    width: 100%;
    height: 100%;
}

.img-box .btn {
    margin-left: 15px;
    vertical-align: bottom;
}

.list-table .img-box .img-wrap {
    width: 50px;
    height: 50px;
}

.list-table .img-box .btn {
    vertical-align: middle;
}

.editor-content {
    min-height: 0px;
    max-height: 200px;
}

.box-type {
    padding: .6rem;
    margin-top: 6px;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
}

.item-container {
    margin: 0;
}

.item-sub {
    margin: 0 0 0 1rem;
}

.depth-menu {
    background-color: #dcedf6;
}

.depth-menu > div .depth-menu {
    margin-left: 1rem;
    background-color: #fcf7e4;
}

.depth-menu > div .depth-menu > div .depth-menu {
    background-color: #eaf6dc;
}

.depth-menu > div .depth-menu > div .depth-menu > div .depth-menu {
    background-color: #dcf6ec;
}

.vsm--link_level-2 + .vsm--dropdown .vsm--title {
    text-indent: 15px;
}

.vsm--link_level-4 .vsm--title {
    text-indent: 30px !important;
}

.vsm--link_level-5 .vsm--title {
    text-indent: 45px !important;
}

/* .v-sidebar-menu .vsm--dropdown .vsm--link {
    font-size: 14px;
} */

/* 추가 start */
.img-box-hover {
    position: relative;
    display: inline-block;
}

.img-box-hover .img-wrap {
    position: relative;
    display: block;
    border: 1px solid #ced4da
}

.img-box-hover .img-wrap:before {
    visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: visibility .2s, opacity .2s linear
}

.img-box-hover:hover .img-wrap:before {
    visibility: visible;
    opacity: 1
}

.img-box-hover .btn-image-del {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    text-align: center;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0;
    transition: visibility .2s, opacity .2s linear
}

.img-box-hover .btn-image-del:before {
    display: none;
    font-size: 16px;
    color: #000
}

.img-box-hover:hover .btn-image-del {
    visibility: visible;
    opacity: 1
}

.img-box-hover:hover .btn-image-del:before {
    display: inline
}

.img-box-hover .btn-image-del > span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 추가 end */

.img-size-100 {
    width: 100px !important;
    height: 100px !important;
}

.img-size-50 {
    width: 50px !important;
    height: 50px !important;
}

.img-size-24 {
    width: 24px !important;
    height: 24px !important;
}

.light {
    background: white;
}

.sl-vue-tree {
    position: relative;
    cursor: default;
    user-select: none;
    width: 100%;
    font-size: 20px;
    height: auto;
    /*
    height: 100px;
    overflow: auto;
    */
}

.sl-vue-tree-root > .sl-vue-tree-nodes-list {
    overflow: hidden;
    position: relative;
    padding: 18px;
    margin-top: 6px;
    background-color: #e2eed8;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
}

/* .sl-vue-tree-selected > .sl-vue-tree-node-item {
    background-color: rgba(100, 100, 255, 0.5);
} */

.sl-vue-tree-node-list {
    position: relative;
    display: flex;
    flex-direction: row;
}

.sl-vue-tree-node-item {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 18px; /* 0325수정.박스상단간격 */
    background-color: #fcf7e4;
    box-sizing: border-box;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
    padding: .6rem;
    font-size: 13px;
    cursor: pointer;
}

.sl-vue-tree-root > .sl-vue-tree-nodes-list > .sl-vue-tree-node:first-child > .sl-vue-tree-node-item {
    margin-top: 0;
}

.sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
    /*outline: 1px solid rgba(100, 100, 255, 0.5);*/
    background: #ccc;
    border: 1px solid black;
    box-sizing: border-box;
}

.sl-vue-tree-node .sl-vue-tree-node-is-folder + .sl-vue-tree {
    width: calc(100% - 25px); /*0325수정. 단들여쓰기*/
    margin-left: 25px; /*0325수정 단들여쓰기*/
}

.sl-vue-tree-gap {
    display: none
}

.sl-vue-tree-sidebar {
    margin-left: auto;
}

.sl-vue-tree-sidebar i {
    cursor: pointer;
}

.sl-vue-tree-node {
    position: relative;
}

.sl-vue-tree-cursor {
    position: absolute;
    top: -14px;
    /* a */
    /* border-top: 4px solid #d8cfaf; */
    height: 10px;
    width: 100%;
    background-color: #54c5ae;
    border-radius: 6px;
}

.sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
    outline: none;
    border-color: #d8cfaf;
    background-color: #54c5ae;
}

.sl-vue-tree-drag-info {
    position: absolute;
    background-color: #000;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    display: none !important;
}

.color-display {
    display: inline-block;
    width: 100px !important;
    height: 12px;
    border: 1px solid #ced4da;
}

.vue-daterange-picker {
    width: 100%;
}

.reportrange-text {
    display: block !important;
    height: 40px !important;
    padding: 0 10px !important;
    line-height: 40px !important;
}

.user-name {
    display: inline-block;
    position: relative;
    top: 4px;
    color: #fff;
    font-weight: bold;
}

.user-name .fa-user {
    margin-right: .625rem;
}

.errorBox {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

.errorBox .errorInn {
    padding-bottom: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.errorBox .errorText {
    margin-top: 20px;
}

.login {
    width: 37rem;
    margin: 0 auto;
    padding-bottom: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.login input, .login input:focus {
    height: 3.75rem !important;
    font-size: 1.2rem;
    color: #999;
    background-color: #fff !important;
}

.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login input:-webkit-autofill:active {
    font-size: 1.2rem;
    -webkit-transition: background-color 9999s ease-out;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #666;
}

.login .view-box {
    padding: 1.5rem 2rem 2.8rem;
    border-radius: 0;
}

.login .view-box .title {
    margin-bottom: .6rem;
    text-align: center;
    border-bottom: none;
}

.login .logo {
    width: 11.25rem;
    margin: 0 auto;
}

.login .logo img {
    max-width: 100%;
    height: auto;
}

.login button {
    width: 100%;
    height: 4.3rem !important;
    font-size: 1.25rem;
    background-color: #2a2a2e;
    border: none;
}

.login button:hover {
    background-color: #3a3a3e
}

.v-sidebar-menu .vsm--link_level-1 {
    font-size: 14px
}

.v-sidebar-menu .vsm--dropdown .vsm--link {
    padding: 2px 5px;
    line-height: inherit;
}

.v-sidebar-menu .vsm--link_level-2 .vsm--title {
    font-size: 12px !important;
}

.v-sidebar-menu .vsm--link_level-2 .vsm--list {
    padding: 0;
}

.v-sidebar-menu .vsm--link_level-2 .vsm--arrow {
    right: 5px;
}

.v-sidebar-menu .vsm--link_level-3 .vsm--title {
    font-size: 12px;
    text-indent: 10px;
}

.v-sidebar-menu .vsm--link_level-3 .vsm--arrow {
    right: 0;
    font-size: 12px !important;
}

.v-sidebar-menu .vsm--link_level-4 .vsm--title {
    font-size: 12px !important;
    text-indent: 20px !important;
}

.super_upper {
    height: 50px
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
    background-color: #2a2a2e;
}

.em-check {
    font-weight: normal;
    color: red;
    margin-left: 3px;
}

/* Tab */
.view-box.tab-menu-head {
    padding: 0;
    position: relative;
    background-color: transparent;
    border: none;
    margin-bottom: 15px !important;
}

/* .view-box.tab-menu:after{
    display: inline-block;
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
} */
.tab-menu:after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 2.25rem;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.tab-menu .btn {
    height: 2.25rem;
    margin: 0 0.3rem 0 0 !important;
    position: relative;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem 0.5rem 0 0;
    outline: none;
    -webkit-transition: none !important;
    transition: none !important;
    box-sizing: border-box;
    z-index: 1
}

.tab-menu .btn.on {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

.tab-menu-head .btns {
    position: absolute;
    top: 0;
    right: 0;
}

button[class*=ico-btn-] {
    position: relative;
    display: inline-block;
    padding: 0;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #fff !important;
    border: none !important;
    overflow: hidden;
}

.ico-btn-prev, .ico-btn-next {
    width: 28px;
    height: 28px;
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
}

.ico-btn-prev > span, .ico-btn-next > span {
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 0;
    text-indent: -999em;
}

.ico-btn-prev:before {
    display: inline-block;
    content: '\f104';
}

.ico-btn-next:before {
    display: inline-block;
    content: '\f105';
}

.search-btn {
    width: 120px !important;
    max-width: 120px !important;
    margin-top: 20px;
    align-self: center !important;
    text-align: center;
}

.search-btn-refresh {
    width: 230px !important;
    max-width: 230px !important;
    margin-top: 20px;
    align-self: center !important;
    text-align: center;
}

.search-btn .btn.btn-primary,
.search-btn .btn.btn-secondary,
.search-btn .btn.btn-success,
.search-btn .btn.btn-danger,
.search-btn .btn.btn-warning,
.search-btn .btn.btn-info,
.search-btn .btn.btn-light,
.search-btn .btn.btn-dark {
    width: 90px !important;
    max-width: 90px !important;
    padding-left: 0;
    padding-right: 0;
}

.search-btn-refresh .btn.btn-primary,
.search-btn-refresh .btn.btn-secondary,
.search-btn-refresh .btn.btn-success,
.search-btn-refresh .btn.btn-danger,
.search-btn-refresh .btn.btn-warning,
.search-btn-refresh .btn.btn-info,
.search-btn-refresh .btn.btn-light,
.search-btn-refresh .btn.btn-dark {
    width: 90px !important;
    max-width: 90px !important;
    padding-left: 0;
    padding-right: 0;
}

.view-box .sl-vue-tree-title {
    width: calc(100% - 50px);
    position: relative;
}

.view-box .sl-vue-tree-title .row {
    padding: 0;
}

.view-box .sl-vue-tree-title .sl-vue-tree-toggle {
    position: absolute;
    left: 0;
}

.sl-vue-tree-sidebar {
    display: inline-block;
}

.sl-vue-tree-sidebar div {
    display: inline-block;
}

.b-toaster-slot, .b-toast, .toast {
    min-width: 450px !important;
}

/* 에디터 폰트 픽셀 명칭 */
.ql-picker-item[data-value='10px']::before, .ql-picker-label[data-value='10px']::before {
    content: '10px' !important;
}

.ql-picker-item[data-value='12px']::before, .ql-picker-label[data-value='12px']::before {
    content: '12px' !important;
}

.ql-picker-item[data-value='14px']::before, .ql-picker-label[data-value='14px']::before {
    content: '14px' !important;
}

.ql-picker-item[data-value='16px']::before, .ql-picker-label[data-value='16px']::before {
    content: '16px' !important;
}

.ql-picker-item[data-value='18px']::before, .ql-picker-label[data-value='18px']::before {
    content: '18px' !important;
}

.ql-picker-item[data-value='20px']::before, .ql-picker-label[data-value='20px']::before {
    content: '20px' !important;
}

.ql-picker-item[data-value='24px']::before, .ql-picker-label[data-value='24px']::before {
    content: '24px' !important;
}

.ql-picker-item[data-value='30px']::before, .ql-picker-label[data-value='30px']::before {
    content: '30px' !important;
}

.ql-picker-item[data-value='32px']::before, .ql-picker-label[data-value='32px']::before {
    content: '32px' !important;
}

.ql-picker-item[data-value='36px']::before, .ql-picker-label[data-value='36px']::before {
    content: '36px' !important;
}

.ql-picker-item[data-value='42px']::before, .ql-picker-label[data-value='42px']::before {
    content: '42px' !important;
}

/* SPINNER */
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.2);
}

.spinner-wrapper {
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.spinner-wrapper .spinner-content {
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* IMAGE VIEWER */
.image-viewer-wrapper {
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Liquor Tree */
.tree-scope {
    width: 100%;
}

.tree-anchor {
    max-width: 100%;
}

.tree-node .tree-scope .tree-node-content {
    float: left;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.tree-node .tree-scope .sidebar {
    float: right;
    text-align: right;
}

.tree-node .tree-scope:after {
    display: block;
    content: '';
    clear: both;
}

.tree-node .tree-scope .sidebar > div,
.tree-node .tree-scope .sidebar > span {
    display: inline-block;
}


/* new tree */
.tree-content {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    background-color: #fcf7e4;
    box-sizing: border-box;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
    padding: 4px !important;
    font-size: 13px;
    cursor: pointer;
}

.tree-root {
    overflow: hidden;
    position: relative;
    padding: 0 18px 18px !important;
    margin-top: 6px;
    background-color: #dcedf6;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
}

.tree-root > .tree-node > .tree-content {
    margin-top: 0;
}

.tree-root > .tree-node {
    margin-top: 6px;
}

.tree-root > .tree-node:first-child {
    margin-top: 18px;
}

.tree-children > .tree-node {
    width: calc(100% - 25px);
    margin-left: 25px;
}

.tree-arrow:not(.has-child) {
    display: none;
}

.drag-above > .tree-content::before, .drag-below > .tree-content::after {
    height: 5px !important;
    top: -10px !important;
    border: 0 !important;
    border-radius: 5px !important;
    background-clip: border-box !important;
}


/* vue-datetime */
.vdatetime-popup__header {
    background: #0095ce !important;
}

.vdatetime-calendar__month__day--selected > span > span {
    background: #0095ce !important;
}

.vdatetime-popup__actions__button {
    color: #0095ce !important;
}

.end-parts {
    display: flex;
}

.box-container {
    overflow: hidden;
    position: relative;
    padding: 10px;
    /* margin-top: 6px; */
    background-color: #dcedf6;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
}

.box-content {
    padding: .6rem;
    margin-top: 6px;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
}

.box-content .handle {
    display: inline-block;
    margin-right: 4px;
}

.box-type[class*=depth-] {
    padding: 0;
    margin-top: 0;
    background-color: transparent;
    border: none;
}

.depth-menu[class*=depth-] .depth-menu,
.depth-menu[class*=depth-] > div .depth-menu > div .depth-menu {
    background-color: transparent;
    margin-left: 25px;
}

.depth-menu[class*=depth-] .box-content {
    background-color: #dcedf6;
}

.depth-menu.depth-1 > .box-content {
    background-color: #fcf7e4;
}

.depth-menu.depth-2 > .box-content {
    background-color: #fcf3d0;
}

.depth-menu.depth-3 > .box-content {
    background-color: #fceba9;
}

.depth-menu.depth-4 > .box-content {
    background-color: #fcdf6e;
}

.end-parts .page-component-right {
    color: #717171;
}

.depth-menu.depth-1.disable-depth > .box-content {
    background-color: #e8e8e2 !important;
}

.depth-menu.depth-2.disable-depth > .box-content {
    background-color: #e8e8e2 !important;
}

.btn-1rem {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.padding-tb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.btn-up, .btn-down {
    display: inline-block;
    padding: .5rem;
    font-size: 1rem;
}

.sticky-table-bottom {
    position: relative;
}

.sticky-bottom {
    height: 57px;
}

.sticky-bottom {
    text-align: right;
    padding: 8px 10px;
    border-top: 1px solid #e8eaf2;
    background-color: #fff;
    transition: all .2s;
}

.sticky-bottom.bottom-sticky {
    width: calc(100% - 300px);
    position: fixed;
    bottom: 0;
    left: 240px;
    transition: all .2s;
}


/* SPAN CODES */
.span-container {
    vertical-align: middle;
    /*font-size: 10px;*/
}

.span-icon {
    display: inline-block;
    width: 9px;
    min-height: 9px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
}

.span-icon2 {
    display: inline-block;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding: 0 6px;
}

.icon-type-1 {
    border-radius: 20px;
}

.icon-type-2 {
    border-radius: 3px;
}

.status-01 {
    background: #0FB7E8;
    color: #ffffff;
}

.status-02 {
    background: #ff7f50;
    color: #ffffff;
}

.status-03 {
    background: #07af24;
    color: #ffffff;
}

.status-04 {
    background: #a096fd;
    color: #ffffff;
}

.status-05 {
    background: #ff80ed;
    color: #ffffff;
}

.status-06 {
    background: #094cbb;
    color: #ffffff;
}

.status-07 {
    background: #ffd700;
    color: #ffffff;
}

.status-08 {
    background: #faebd7;
}

.status-09 {
    background: #696969;
    color: #ffffff;
}

.status-10 {
    background: #b335ec;
    color: #ffffff;
}

.status-11 {
    background: #420420;
    color: #ffffff;
}

.status-12 {
    background: #20b2aa;
    color: #ffffff;
}

.status-13 {
    background: #c39797;
    color: #ffffff;
}

.status-14 {
    background: #065535;
    color: #ffffff;
}

.status-15 {
    background: #7fe5f0;
}

.status-16 {
    background: #ac4979;
    color: #ffffff;
}

.status-17 {
    background: #cbcba9;
    color: #ffffff;
}

.status-18 {
    background: #6bc787;
    color: #ffffff;
}

.status-19 {
    background: #ff5252;
    color: #ffffff;
}

.status-20 {
    background: #d5518d;
    color: #ffffff;
}

.status-21 {
    background: #ffff00;
}

.status-22 {
    background: #ffc0cb;
    color: #ffffff;
}

.status-23 {
    background: #e6e6fa;
}

.status-24 {
    background: #d3ffce;
}

.status-25 {
    background: #daa520;
    color: #ffffff;
}

.status-26 {
    background: #fbab05;
    color: #ffffff;
}

.status-27 {
    background: #bada55;
    color: #ffffff;
}

.status-28 {
    background: #ababab;
    color: #ffffff;
}

.status-29 {
    background: #59d99c;
    color: #ffffff;
}

.status-30 {
    background: #407294;
    color: #ffffff;
}

.vsm--link.vsm--link_level-2.vsm--link_hover,
.vsm--link.vsm--link_level-3.vsm--link_hover,
.vsm--link.vsm--link_level-4.vsm--link_hover {
    background-color: #0295ce !important;
}

.v-sidebar-menu .vsm--icon {
    margin-right: 0px !important;
}

.verte__menu {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0);
}

@media (min-width: 992px) {
    .modal-exl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-exl {
        max-width: 1640px;
    }
}

.vdatetime-calendar__month {
    height: 312px !important;
}

.popover-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.popover-60 {
    width: 60% !important;
    max-width: 60% !important;
}

.popover-200px {
    width: 200px !important;
    max-width: 200px !important;
}

.popover-none {
    max-width: none !important;
}

.mx-datepicker-range, .mx-datepicker {
    width: 100% !important;
}

.mx-datepicker .mx-input-wrapper .form-control[readonly] {
    background-color: transparent !important;
}

.datepicker-valid .mx-input-wrapper .mx-icon-calendar,
.datepicker-valid .mx-input-wrapper .mx-icon-clear {
    right: 30px !important;
}

.pre-line {
    white-space: pre-wrap;
    word-break: break-all;
}

.word-break-break-all {
    word-break: break-all;
}

.dashboard-dialog {
    max-width: 100% !important;
    margin: auto !important;
}

/* sticky-table */
.sticky-card {
    position: relative;
}

.sticky-card .sticky-card-wrap {
    overflow: auto;
    overflow-x: hidden;
    max-height: 400px;
    padding-right: 5px;
}

.height-140px {
    height: 140px !important;
}

.input-is-valid {
    border-color: #28a745 !important;
}

.invalid-feedback {
    color: #ea7b32 !important;
}

.input-is-invalid {
    border-color: #ea7b32 !important;
}

.is-invalid {
    color: #ea7b32 !important;
    border-color: #ea7b32 !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23ea7b32' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ea7b32' stroke='none'/%3e%3c/svg%3e") !important;
}

.a_link {
    cursor: pointer;
}

.lang-span {
    width: 20px !important;
    max-width: 20px !important;
    padding-right: 0;
    padding-left: 0;
}

.lang-label {
    width: 40px !important;
    max-width: 40px !important;
    padding-right: 0;
    padding-left: 0;
}

.lang-separator {
    width: 5px !important;
    max-width: 5px !important;
    padding-right: 0;
    padding-left: 0;
}

.lang-box {
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
