<template>
  <div class="backdrop" v-if="active">
    <div class="image-viewer-wrapper" @click="onClose">
      <img v-if="!!url"
           :src="url"
           alt="img"
           style="max-width: 60%; max-height: 60%;"/>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {broadcast} from '@/core/service/broadcast.service';

@Component
export default class NImageViewer extends Vue {
  url: string | null = null;
  active: boolean = false;

  created() {
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.IMAGE_VIEWER, this.onDefaultSpinner);
  }

  beforeDestroy() {
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.IMAGE_VIEWER, this.onDefaultSpinner);
  }

  onDefaultSpinner(url: string) {
    this.url = url;
    this.active = true;
  }

  onClose() {
    this.url = null;
    this.active = false;
  }
}
</script>
