<template>
  <div>
    <img v-if="!$util.isEmpty(pathUrl)"
         :src="`${basePath}/${pathUrl}`"
         :class="sizeClass"
         @click="onClick"
         alt="img"/>

    <img v-if="$util.isEmpty(pathUrl)"
         src="@/assets/images/blank_200.png"
         :class="sizeClass"
         alt="img"/>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

@Component
export default class NMetaImage extends Vue {
  basePath: string = process.env.VUE_APP_META_IMAGE_URL;
  pathUrl: string = '';

  @Prop({type: String, default: ''})
  path!: string;

  @Prop({type: String, default: 'img-size-24'})
  sizeClass!: string;

  created() {
    this.pathUrl = this.path;
  }

  onClick() {
    if (!this.$util.isEmpty(this.pathUrl)) {
      this.$broadcast.onDefaultImageViewer(`${this.basePath}/${this.pathUrl}`);
    }
  }

  @Watch('path')
  changedPath() {
    this.pathUrl = this.path;
  }
}
</script>
