<template>
  <b-input-group>
    <b-input v-model="model" :state="state" readonly autocomplete="off"/>

    <b-input-group-append>
      <b-button :id="randomId"
                ref="trigger"
                size="sm"
                variant="dark"
                class="input-button"
                @click.capture="interceptEvent">
        <i class="fas fa-cogs"></i>
      </b-button>
    </b-input-group-append>

    <b-popover :target="randomId"
               :show.sync="isOpen"
               placement="top"
               triggers="blur"
               class="click-confirm"
               custom-class="popover-none"
               ref="popover"
               @hidden="onHidden">

      <template slot="title">
        <div class="popover-title">앨범 연결</div>
      </template>

      <div class="text-center">
        <button @click.prevent="onSearch"
                class="btn input-button btn-info btn-sm mr-1">
          추가
        </button>

        <button @click.prevent="onAdd"
                class="btn input-button btn-success btn-sm mr-1">
          등록
        </button>

        <button @click.prevent="onModify"
                class="btn input-button btn-warning btn-sm mr-1"
                :disabled="!value || !value.id">
          수정
        </button>

        <button @click.prevent="onRefresh"
                class="btn input-button btn-secondary btn-sm"
                :disabled="!value || !value.id">
          초기화
        </button>
      </div>
    </b-popover>

    <component :is="modal" v-model="modal" @apply="onApply" :relativeId="!!value ? value.id : null"/>
  </b-input-group>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {SampleAlbum}          from '@/app/sample/album/model/sample-album.model';
import SampleAlbumListModal   from '@/app/sample/album/components/modal/sample-album-list.modal.vue';
import SampleAlbumAddModal    from '@/app/sample/album/components/modal/sample-album-add.modal.vue';
import SampleAlbumModifyModal from '@/app/sample/album/components/modal/sample-album-modify.modal.vue';
import InputService           from '@/app/shared/service/input.service';

@Component
export default class SampleAlbumInput extends Vue {
  model: string = '';
  state: boolean | null = null;
  modal: any = null;
  isOpen: boolean = false;
  target: any = null;
  randomId: string = this.$util.getRandomKey('SampleAlbumInput');
  inputService: InputService = new InputService();

  @Prop({default: null})
  value!: SampleAlbum.Request.Relative;

  @Prop({default: null})
  name!: string;

  @Prop({default: null})
  parent!: any;

  created() {
    this.setDisplay();
  }

  beforeDestroy() {
    if (this.isOpen) {
      this.onCancel();
    }
  }

  onHidden() {
    this.target = null;
  }

  async onAdd() {
    this.modal = await SampleAlbumAddModal;
  }

  async onModify() {
    this.modal = await SampleAlbumModifyModal;
  }

  async onSearch() {
    this.modal = await SampleAlbumListModal;
  }

  onRefresh() {
    this.$emit('input', null);
  }

  onApply(value: SampleAlbum.Request.Relative) {
    this.$emit('input', value);
  }

  getName(params: SampleAlbum.Request.Relative): string {
    let name: string = '';

    if (!!params && !!params.id && !!params.title) {
      name = `(${params.id}) ${params.title}`;
    }

    return name;
  }

  setDisplay() {
    this.model = this.getName(this.value);
    if (!!this.parent && !!this.name) {
      this.state = this.inputService.getState(this.name, this.parent);
    }
  }

  onCancel() {
    this.isOpen = false;
  }

  interceptEvent(e: any) {
    if (this.$props.disabled) {
      return;
    }

    this.isOpen = true;
    e.preventDefault();
    e.stopPropagation();
    e.stopImmediatePropagation();
  }

  @Watch('value')
  getValue() {
    this.setDisplay();
  }
}
</script>
