<template>
  <div>
    <template v-if="!!value && !!value.id && !!value.title">
      (<a class="a_link" @click="onClick">{{ value.id }}</a>) {{ value.title }}
    </template>

    <component :is="modal" v-model="modal" :relativeId="!!value ? value.id : null"/>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {SampleAlbum}          from '@/app/sample/album/model/sample-album.model';
import SampleAlbumDetailModal from '@/app/sample/album/components/modal/sample-album-detail.modal.vue';

@Component
export default class SampleAlbumDisplay extends Vue {
  modal: any = null;

  @Prop({default: null})
  value!: SampleAlbum.Response.Relative;

  async onClick() {
    this.modal = await SampleAlbumDetailModal;
  }
}
</script>
