<template>
  <b-modal v-model="isVisible"
           id="SampleAlbumModifyModal"
           centered
           size="xl"
           title="앨범 수정"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <sample-album-modify :id="relativeId" ref="ModifyComponent"/>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <n-confirm type="UPDATE">
          <b-button variant="primary" @click="onModify">수정</b-button>
        </n-confirm>
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch, Prop} from 'vue-property-decorator';

import {Shared}           from '@/app/shared/model/shared.model';
import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';
import SampleAlbumModify  from '@/app/sample/album/view/sample-album-modify.vue';

@Component({
  components: {SampleAlbumModify}
})
export default class SampleAlbumModifyModal extends Vue {
  isVisible: boolean = true;
  store = SampleAlbumStore.getInstance();

  @Prop({default: null})
  relativeId!: number;

  onModify() {
    this.store.actions.update(this.$mapper.toObject(SampleAlbum.Request.Modify, this.$refs.ModifyComponent[`modify`]));
  }

  @Watch('store.state.result')
  getResult() {
    const result: Shared.Response.ActionResult = this.store.getters.getResult();
    if (result.action === this.$enum.CORE.ACTION.RESULT.UPDATE) {
      this.$emit('apply', this.$mapper.toObject(SampleAlbum.Request.Relative, result.data));
      this.isVisible = false;
    }
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
