<template>
  <b-modal v-model="isVisible"
           id="SampleAlbumAddModal"
           centered
           size="xl"
           title="앨범 등록"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <sample-album-add ref="AddComponent"/>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <n-confirm type="ADD">
          <b-button variant="primary" @click="onAdd">등록</b-button>
        </n-confirm>
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch} from 'vue-property-decorator';

import {Shared}           from '@/app/shared/model/shared.model';
import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';
import SampleAlbumAdd     from '@/app/sample/album/view/sample-album-add.vue';

@Component({
  components: {SampleAlbumAdd}
})
export default class SampleAlbumAddModal extends Vue {
  isVisible: boolean = true;
  store = SampleAlbumStore.getInstance();

  onAdd() {
    this.store.actions.add(this.$mapper.toObject(SampleAlbum.Request.Add, this.$refs.AddComponent[`add`]));
  }

  @Watch('store.state.result')
  getResult() {
    const result: Shared.Response.ActionResult = this.store.getters.getResult();
    if (result.action === this.$enum.CORE.ACTION.RESULT.ADD) {
      this.$emit('apply', this.$mapper.toObject(SampleAlbum.Request.Relative, result.data));
      this.isVisible = false;
    }
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
