<template>
  <b-modal v-model="isVisible"
           id="SampleAlbumDetailModal"
           centered
           size="xl"
           title="앨범 상세"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <sample-album-detail :id="relativeId"/>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <b-button variant="secondary" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch, Prop} from 'vue-property-decorator';

import SampleAlbumDetail from '@/app/sample/album/view/sample-album-detail.vue';

@Component({
  components: {SampleAlbumDetail}
})
export default class SampleAlbumDetailModal extends Vue {
  isVisible: boolean = true;

  @Prop({default: null})
  relativeId!: number;

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
