<template>
  <b-modal v-model="isVisible"
           id="SampleAlbumListModal"
           centered
           size="xl"
           title="앨범 찾기"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <sample-album-list ref="ListComponent" :isSelect="true"/>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <n-confirm type="ADD">
          <b-button variant="dark" @click="onApply">적용</b-button>
        </n-confirm>
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch} from 'vue-property-decorator';

import {SampleAlbum}   from '@/app/sample/album/model/sample-album.model';
import SampleAlbumList from '@/app/sample/album/view/sample-album-list.vue';

@Component({
  components: {SampleAlbumList}
})
export default class SampleAlbumListModal extends Vue {
  isVisible: boolean = true;

  onApply() {
    const check: SampleAlbum.Request.Relative = this.$mapper.toObject(SampleAlbum.Request.Relative, this.$refs.ListComponent[`checks`]);

    if (!!check) {
      this.$emit('apply', check);
      this.isVisible = false;
    }
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
