<template>
  <b-modal v-model="isVisible"
           id="GuideSplitModal"
           centered
           size="xl"
           title="가이드 찾기"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <b-container fluid="">
        <b-container fluid class="search-box">
          <b-form>
            <b-row>
              <b-col>
                <label>검색어<span class="em-check">*</span></label>
                <n-input name="name"
                         v-model="name"
                         :type="$enum.CORE.FORM.INPUT_TYPE.SEARCH"
                         placeholder="검색어를 입력하세요"/>
              </b-col>

              <n-search-buttons :isRefresh="true" @onRefresh="onRefresh"/>
            </b-row>
          </b-form>
        </b-container>

        <b-row>
          <b-col>
            <b-container class="modal-box">
              <b-row>
                <b-col class="title">
                  목록
                </b-col>
              </b-row>
              <b-row class="mt-1">
                <b-col class="list-table sticky-table">
                  <div class="sticky-table-wrap" style="max-height: 420px;">
                    <table>
                      <colgroup>
                        <col style="width:40px;"/>
                        <col style="width:60px;"/>
                        <col/>
                        <col/>
                      </colgroup>
                      <thead>
                      <tr>
                        <th style="width:40px;">
                          <n-check-status v-model="metaChecks"
                                          :lists="page.content"
                                          :return-origins="true"/>
                        </th>
                        <th style="width:60px;">번호</th>
                        <th>이름</th>
                        <th>URL</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="(item, index) in page.content">
                        <td>
                          <b-check class="ml-1" v-model="metaChecks" :value="item"/>
                        </td>
                        <td>
                          <n-list-number :index="index" :target="page" :is-page="true"/>
                        </td>
                        <td>
                          {{ item.name }}
                        </td>
                        <td>
                          {{ item.url }}
                        </td>
                      </tr>

                      <tr v-if="!!page && ((!!page.content && page.content.length === 0) || !page.content)">
                        <td colspan="4">검색 결과가 없습니다.</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <n-page-navigation :page="page" @changed="changePages"/>
                </b-col>
              </b-row>
            </b-container>
          </b-col>
          <b-col cols="0">
            <b-row class="text-center h-100 pt-5">
              <b-col class="h-100">
                <b-row class="h-100 pb-3">
                  <b-col class="h-100 ico-bottom">
                    <b-button variant="dark" type="button" class="ico-btn-next" v-show="(!!selected && selected.length > 0) || !!page && ((!!page.content && page.content.length > 0))">
                      <span>추가</span>
                    </b-button>
                  </b-col>
                </b-row>
                <b-row class="h-100 pt-3">
                  <b-col class="h-100 ico-top">
                    <b-button type="button" variant="danger" class="ico-btn-prev" v-show="(!!selected && selected.length > 0) || !!page && ((!!page.content && page.content.length > 0))">
                      <span>삭제</span>
                    </b-button>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
          <b-col>
            <b-container class="modal-box">
              <b-row>
                <b-col class="title">
                  선택 앨범 목록
                </b-col>
              </b-row>
              <b-row class="mt-1">
                <b-col class="list-table sticky-table">
                  <div class="sticky-table-wrap" style="max-height: 420px;">
                    <table>
                      <colgroup>
                        <col style="width:40px;"/>
                        <col/>
                        <col/>
                      </colgroup>
                      <thead>
                      <tr>
                        <th style="width:40px;">
                          <n-check-status v-model="deleteChecks"
                                          :lists="selected"
                                          :return-origins="true"/>
                        </th>
                        <th>이름</th>
                        <th>URL</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="(item) in selected">
                        <td>
                          <b-check class="ml-1" v-model="deleteChecks" :value="item"/>
                        </td>
                        <td>
                          {{ item.name }}
                        </td>
                        <td>
                          {{ item.url }}
                        </td>
                      </tr>

                      <tr v-if="!!selected && ((selected.length === 0) || !selected)">
                        <td colspan="5">선택 된 결과 없습니다.</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <template slot="modal-footer" slot-scope="{ ok, hide }">
      <div class="w-100 text-center">
        <n-confirm type="ADD">
          <b-button variant="dark"
                    :disabled="!selected || (!!selected && selected.length === 0)">
            적용
          </b-button>
        </n-confirm>

        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {Guide}    from '@/app/guide/model/guide.model';
import {Pageable} from '@/app/shared/model/pageable.model';

@Component
export default class GuideSplitModal extends Vue {
  isVisible: boolean = true;
  name: string | null = null;
  selected: Guide.Page[] = [];
  metaChecks = [];
  deleteChecks = [];
  search: Guide.Search = new Guide.Search;
  page: Pageable.Response.Page<Guide.Page> = new Pageable.Response.Page<Guide.Page>();

  created() {
    const page: Pageable.Response.Page<Guide.Page> = new Pageable.Response.Page<Guide.Page>();

    page.first = true;
    page.last = true;
    page.number = 0;
    page.numberOfElements = 10;
    page.size = 10;
    page.totalElements = 10;
    page.totalPages = 1;
    page.content = [
      new Guide.Page(1, 'TEST'),
      new Guide.Page(2, 'TEST'),
      new Guide.Page(3, 'TEST'),
      new Guide.Page(4, 'TEST'),
      new Guide.Page(5, 'TEST'),
      new Guide.Page(6, 'TEST'),
      new Guide.Page(7, 'TEST'),
      new Guide.Page(8, 'TEST'),
      new Guide.Page(9, 'TEST'),
      new Guide.Page(10, 'TEST'),
    ];

    this.page = page;

    this.selected = [
      new Guide.Page(1, 'TEST'),
      new Guide.Page(2, 'TEST'),
      new Guide.Page(3, 'TEST'),
      new Guide.Page(4, 'TEST'),
      new Guide.Page(5, 'TEST'),
      new Guide.Page(6, 'TEST'),
      new Guide.Page(7, 'TEST'),
      new Guide.Page(8, 'TEST'),
      new Guide.Page(9, 'TEST'),
      new Guide.Page(10, 'TEST'),
    ];
  }

  changePages(page) {
    console.info(page);
  }

  onRefresh() {
    this.search = new Guide.Search();
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>


<style scoped>
.ico-bottom {
  justify-content: center;
  display: inline-block;
  align-content: end;
  -webkit-align-items: flex-end;
  position: relative;
  transform: translateY(50%);
}

.ico-top {
  justify-content: center;
  display: inline-block;
  align-content: start;
  -webkit-align-items: flex-start;
  position: relative;
  transform: translateY(-50%);
}
</style>
