<template>
  <b-modal v-model="isVisible"
           id="GuideListModal"
           centered
           size="xl"
           title="가이드 찾기"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <b-container fluid="">
        <b-container fluid="" class="search-box">
          <b-form @submit.prevent="onSearch">
            <b-row>
              <b-col>
                <label>검색어1</label>
                <n-select v-model="search.search1"
                          :enum="guideEnum.SELECT"
                          :useAll="true"/>
              </b-col>

              <b-col>
                <label>검색어2</label>
                <b-input v-model="search.search2"
                         type="text"
                         autocomplete="off"/>
              </b-col>

              <n-search-buttons :isRefresh="true" @onRefresh="onRefresh"/>
            </b-row>
          </b-form>
        </b-container>

        <b-row class="mt-3">
          <b-col class="list-table sticky-table">
            <div class="sticky-table-wrap" style="max-height: 300px;">
              <table>
                <colgroup>
                  <col style="width:40px;"/>
                  <col style="width:60px;"/>
                  <col style="width:25%;"/>
                  <col/>
                  <col style="width:100px;"/>
                  <col style="width:100px;"/>
                  <col style="width:150px;"/>
                </colgroup>
                <thead>
                <tr>
                  <th style="width:40px;"></th>
                  <th style="width:60px;">번호</th>
                  <th style="width:25%;">이름</th>
                  <th>URL</th>
                  <th style="width:100px;">노출여부</th>
                  <th style="width:100px;">등록자</th>
                  <th style="width:150px;">등록일시</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in page.content">
                  <td>
                    <b-radio v-model="check" :value="item.id" name="id"/>
                  </td>
                  <td>
                    <n-list-number :index="index" :target="page" :is-page="true"/>
                  </td>
                  <td class="text-left">{{ item.name }}</td>
                  <td class="text-left">{{ item.url }}</td>
                  <td>{{ item.displayYn | optionFilter($option.BOOLEAN.COMMON) }}</td>
                  <td>{{ item.createdBy }}</td>
                  <td>{{ item.createdAt | dateFilter }}</td>
                </tr>

                <tr v-if="!$util.safeCall(page, 'content') || (!!page.content && page.content.length === 0)">
                  <td colspan="7">검색 결과가 없습니다.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <n-page-navigation :page="page" @changed="changePages"/>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <n-confirm type="ADD">
          <b-button variant="dark">적용</b-button>
        </n-confirm>
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {GuideEnum} from '@/app/guide/model/guide.enum';
import {Pageable}  from '@/app/shared/model/pageable.model';
import {Guide}     from '@/app/guide/model/guide.model';

@Component
export default class GuideListModal extends Vue {
  isVisible: boolean = true;
  guideEnum = GuideEnum;
  search: Guide.Search = new Guide.Search;
  check: Guide.Page | null = null;
  page: Pageable.Response.Page<Guide.Page> = new Pageable.Response.Page<Guide.Page>();

  created() {
    const page: Pageable.Response.Page<Guide.Page> = new Pageable.Response.Page<Guide.Page>();

    page.first = true;
    page.last = true;
    page.number = 0;
    page.numberOfElements = 10;
    page.size = 10;
    page.totalElements = 10;
    page.totalPages = 1;
    page.content = [
      new Guide.Page(1, 'TEST'),
      new Guide.Page(2, 'TEST'),
      new Guide.Page(3, 'TEST'),
      new Guide.Page(4, 'TEST'),
      new Guide.Page(5, 'TEST'),
      new Guide.Page(6, 'TEST'),
      new Guide.Page(7, 'TEST'),
      new Guide.Page(8, 'TEST'),
      new Guide.Page(9, 'TEST'),
      new Guide.Page(10, 'TEST'),
    ];

    this.page = page;
  }

  onSearch(event) {
    console.info(event);
  }

  changePages(page) {
    console.info(page);
  }

  onRefresh() {
    this.search = new Guide.Search;
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
