<template>
  <b-modal v-model="isVisible"
           id="GuideMapModal"
           centered
           size="xl"
           title="가이드 맵"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <b-container class="view-box" fluid="">
        <b-row>
          <b-col class="title">
            기본 정보
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <n-select v-model="shape" :enum="guideEnum.SHAPE"/>
          </b-col>

          <b-col class="control-btn">
            <b-button class="mr-1" @click="addShape">추가</b-button>
            <b-button class="mr-1" @click="deleteAllShape">전체삭제</b-button>
          </b-col>
        </b-row>

        <b-row>
          <b-col style="max-height: 600px; overflow: hidden; overflow-y: auto;">
            <b-embed ref="b-embed-map-editor"
                     type="iframe"
                     src="/image-map-editor.html"
                     @load="iframeLoad">
            </b-embed>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <template slot="modal-footer" slot-scope="{hide}">
      <div class="w-100 text-center">
        <n-confirm type="UPDATE">
          <b-button variant="primary" type="button" class="mr-3" @click="onApply">수정</b-button>
        </n-confirm>
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {GuideEnum} from '@/app/guide/model/guide.enum';
import {Guide}     from '@/app/guide/model/guide.model';

@Component
export default class GuideMapModal extends Vue {
  isVisible: boolean = true;
  guideEnum = GuideEnum;
  id: string = this.$util.getRandomKey('GuideMapModal');
  shape: GuideEnum.SHAPE.ENUM = GuideEnum.SHAPE.ENUM.rect;

  @Prop({default: null})
  url!: string;

  @Prop({default: null})
  items!: Guide.ImageMap[] | null;

  mounted() {
    window.addEventListener('message', this.receiveMessage);
  }

  beforeDestroy() {
    window.removeEventListener('message', this.receiveMessage);
  }

  receiveMessage(event) {
    const returnValue: Guide.ImageMap[] = [];

    if (this.id === event.data.id && event.data.type === 'EDITOR') {
      event.data.items.forEach((value: any) => {
        returnValue.push(new Guide.ImageMap({coords: value.coords, type: GuideEnum.SHAPE.ENUM[value.type]}));
      });
    }

    this.$emit('onapply', returnValue);
    this.isVisible = false;
  }

  iframeLoad() {
    this.sendChildFrame({
      action: 'INIT',
      type  : 'EDITOR',
      id    : this.id,
      url   : this.url,
      items : this.items
    });
  }

  addShape() {
    this.sendChildFrame({
      action: 'SHAPE',
      type  : 'EDITOR',
      id    : this.id,
      shape : this.shape
    });
  }

  deleteAllShape() {
    this.sendChildFrame({
      action: 'REMOVE_ALL',
      type  : 'EDITOR',
      id    : this.id
    });
  }

  onApply() {
    const document: any = this.getEditorDom();
    document.sendToParent();
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }

  private getEditorDom(): any {
    const frame: any = this.$refs['b-embed-map-editor'] as any;
    const innerFrame: any = frame.children[0] as any;

    let document: any = null;
    if (!!innerFrame && !!innerFrame.contentWindow) {
      // FF Chrome
      document = innerFrame.contentWindow;
    } else if (!!innerFrame.contentWindow) {
      // IE
      document = innerFrame.contentWindow;
    }

    return document;
  }

  private sendChildFrame(data: any) {
    const document: any = this.getEditorDom();

    if (!!document) {
      document.postMessage(data, '*');
    }
  }
}
</script>

<style scoped>
.control-btn {
  width: 250px !important;
  max-width: 250px !important;
  align-self: center !important;
  text-align: center;
}
</style>
