<template>
  <b-form @submit.prevent="onLogin">
    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          <h1 class="logo">
            <img src="@/assets/images/logo.png" alt="logo"/>
          </h1>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <n-input name="username"
                   v-model="login.username"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   placeholder="아이디"
                   :trim="true"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <n-input name="password"
                   v-model="login.password"
                   :type="$enum.CORE.FORM.INPUT_TYPE.PASSWORD"
                   placeholder="비밀번호"
                   :trim="true"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-button variant="secondary" type="submit">로그인</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-form>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Auth} from '@/app/auth/model/auth.model';

@Component
export default class Login extends Vue {
  login = new Auth.Request.Login();

  onLogin() {
    this.$router.push('/dashboard');
  }
}
</script>
