<template>
  <div>
    <b-input-group prepend="#">
      <b-input :id="randomId"
               v-model="inputModel"
               autocomplete="off"
               maxlength="6"
               :state="(!!name && !!parent) ? inputService.getState(name, parent) : null"
               :disabled="!activate"
               trim/>

      <b-popover v-show="activate"
                 :target="randomId"
                 placement="bottomright"
                 triggers="focus"
                 class="click-confirm">
        <template slot="title">
          <div class="popover-title">색상선택</div>
        </template>

        <verte display="widget"
               model="hex"
               :value="verteValue"
               :rgbSliders="true"
               :enableAlpha="false"
               :showHistory="false"
               :draggable="false"
               @input="changedInputColor"/>
      </b-popover>
    </b-input-group>

    <b-form-invalid-feedback v-if="messages" :state="(!!name && !!parent) ? inputService.getState(name, parent) : null">
      {{ (!!name && !!parent) ? inputService.getMessage(name, parent) : '' }}
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import _                             from 'lodash';
import Verte                         from 'verte';
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

import InputService from '@/app/shared/service/input.service';

@Component({
  components: {Verte}
})
export default class NColor extends Vue {
  inputModel: string | null = null;
  verteValue: string = '';
  randomId: string = this.$util.getRandomKey('NColor');
  inputService = new InputService();

  @Prop({default: null})
  value!: string;

  @Prop({type: String, default: null})
  name!: string;

  @Prop({type: Boolean, default: true})
  activate!: boolean;

  @Prop({default: null})
  parent!: any;

  @Prop({type: Boolean, default: true})
  messages!: boolean;

  created() {
    if (!!this.value) {
      this.inputModel = this.prefixColor(this.value);
      this.verteValue = this.value;
    }
  }

  @Watch('value')
  getValue() {
    if (!!this.value) {
      this.inputModel = this.prefixColor(this.value);
      this.verteValue = this.value;
    }
  }

  @Watch('inputModel')
  getInputModel() {
    if (!!this.inputModel && this.inputModel.length === 6) {
      this.callbackColor(this.inputModel);
      this.verteValue = `#${this.inputModel}`;
    } else {
      if (!!this.inputModel) {
        this.callbackColor('');
      } else {
        this.callbackColor(null);
      }
    }
  }

  changedInputColor(verteValue: string) {
    this.inputModel = this.prefixColor(verteValue);
  }

  private callbackColor(value: string | null) {
    if (value === null) {
      this.$emit('input', null);
    } else {
      this.$emit('input', !!value ? `#${value}` : '');
    }
  }

  private prefixColor(color: string) {
    return _.replace(color, '#', '');
  }
}
</script>
