<template>
  <div>
    <prism-editor clas="line-numbers"
                  :class="[size]"
                  v-model="model"
                  :highlight="highlighter"
                  line-numbers>
    </prism-editor>
  </div>
</template>

<script lang="ts">
import Prism                         from 'prismjs';
import {PrismEditor}                 from 'vue-prism-editor';
import {Component, Vue, Prop, Watch} from 'vue-property-decorator';

@Component({
  components: {PrismEditor}
})
export default class NCodeEditor extends Vue {
  model: string = '';

  @Prop({default: null})
  value!: string;

  @Prop({type: String, default: 'code-editor-size'})
  size!: string;

  created() {
    this.changeValue();
  }

  highlighter(code: string): any {
    return Prism.highlight(code, Prism.languages.html, 'html');
  }

  @Watch('value')
  changeValue() {
    this.model = this.value;
  }

  @Watch('model')
  changeModel() {
    this.$emit('input', this.model);
  }
}
</script>
