<template>
  <div>
    <date-picker v-model="model"
                 :class="{'datepicker-valid': (!!name && !!parent) ? state : null}"
                 type="datetime"
                 value-type="format"
                 :format="datePattern"
                 :input-class="inputClass"
                 confirm-text="적용"
                 :confirm="true"
                 :editable="false"
                 :lang="lang"
                 :range="true">
    </date-picker>

    <b-form-invalid-feedback :state="(!!name && !!parent) ? state : null">
      {{ inputService.getMessage(name, parent) }}
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';
import DatePicker                    from 'vue2-datepicker';

import {N_DATE_TIME_PICKER_LANG} from '@/app/shared/config/n-date-time-picker.config';
import {Enum}                    from '@/app/shared/enum/enum';
import {DateTime}                from '@/app/shared/model/date-time.model';
import InputService              from '@/app/shared/service/input.service';
import NDateTimePickerService    from '@/app/shared/service/n-date-time-picker.service';

@Component({
  components: {DatePicker}
})
export default class NDateTimeRange extends Vue {
  model: any[] | null = null;
  lang = N_DATE_TIME_PICKER_LANG;
  state: boolean | null = null;
  inputClass: string = 'form-control';
  dateService: NDateTimePickerService = new NDateTimePickerService();
  inputService = new InputService();

  @Prop({default: null})
  keys!: DateTime.RangeProps;

  @Prop({type: String, default: null})
  startDate!: string;

  @Prop({type: String, default: null})
  endDate!: string;

  @Prop({type: String, default: Enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME})
  datePattern!: Enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME | Enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME_SECOND;

  @Prop({default: null})
  parent!: any;

  @Prop({default: null})
  name!: string;


  created() {
    this.setDate(this.startDate, this.endDate);
    this.getState();
  }

  getState() {
    if (!!this.parent && !!this.name) {
      this.state = this.inputService.getState(this.name, this.parent);

      switch (this.state) {
        case true:
          this.inputClass = 'form-control is-valid';
          break;
        case false:
          this.inputClass = 'form-control is-invalid';
          break;
        default:
          this.inputClass = 'form-control';
          break;
      }
    }
  }

  @Watch('startDate')
  getStartDate() {
    this.setDate(this.startDate, this.endDate);

  }

  @Watch('endDate')
  getEndDate() {
    this.setDate(this.startDate, this.endDate);
  }

  @Watch('model', {deep: true})
  getModel() {
    this.$nextTick(() => {
      if (!!this.model) {
        this.$emit('input', {
          keys     : this.keys,
          startDate: this.dateService.getDate(this.model[0], this.datePattern),
          endDate  : this.dateService.getDate(this.model[1], this.datePattern)
        });
        this.getState();
      }
    });
  }

  private setDate(startDt: string | null, endDt: string | null) {
    this.model = [this.dateService.setDate(startDt, this.datePattern), this.dateService.setDate(endDt, this.datePattern)];
  }
}
</script>
