<template>
  <b-row class="lang-box">
    <b-col class="lang-span">
      <n-i18n-span/>
    </b-col>

    <b-col>
      <b-row class="pt-0 pb-0">
        <b-col class="pl-2 word-break-break-all">
          <div v-html="name" :class="[classes, 'code-editor-display', 'handle']" @click="onEditor"/>
        </b-col>
      </b-row>

      <b-form-invalid-feedback :state="state">
        {{ getMessage }}
      </b-form-invalid-feedback>
    </b-col>

    <component :is="modal" v-model="modal" :params="data" :type="dataType" :classes="classes" :size="size" @apply="onApply"/>
  </b-row>
</template>

<script lang="ts">
import _                                       from 'lodash';
import {ClassConstructor}                      from 'class-transformer';
import {Component, Prop, PropSync, Vue, Watch} from 'vue-property-decorator';

import {Enum}           from '@/app/shared/enum/enum';
import {I18n}           from '@/app/shared/model/i18n.model';
import {broadcast}      from '@/core/service/broadcast.service';
import I18nService      from '@/app/shared/service/i18n.service';
import NI18nEditorModal from '@/app/shared/components/form/modal/n-i18n-editor.modal.vue';

@Component
export default class NI18nEditor extends Vue {
  modal: any = null;
  name: string = '';
  model: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax | null = null;
  dataType: ClassConstructor<any> | null = null;
  data: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax | null = null;
  state: boolean | null = null;
  service: I18nService = new I18nService();

  @PropSync('value')
  params!: I18n.Request.Default[] | I18n.Request.DefaultMax[];

  @Prop({type: String, default: Enum.CORE.I18N.TYPE.EDITOR.REQUIRE})
  type!: Enum.CORE.I18N.TYPE.EDITOR;

  @Prop({type: String, default: 'channel-editor'})
  classes!: string;

  @Prop({type: String, default: 'code-editor-size'})
  size!: string;

  created() {
    this.setValue();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  async onEditor() {
    this.dataType = this.service.getEditorClassModel(this.type);
    this.data = this.$mapper.toObject(this.dataType, this.model);
    this.modal = await NI18nEditorModal;
  }

  onApply(model: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax) {
    this.model = model;
  }

  setValue() {
    if (!this.model) {
      this.model = this.service.getEditorModel(this.type);
    }

    this.params.forEach((param: I18n.Request.Default | I18n.Request.DefaultMax) => {
      if (!!this.model && !!Enum.CORE.I18N.LANG.ENUM[param.languageType]) {
        this.model[param.languageType] = param.content;
      }
    });

    this.getName();
  }

  getName() {
    const language: Enum.CORE.I18N.LANG.ENUM = this.service.getLanguage();

    if (!!this.model) {
      this.name = !!this.model[language] ? this.model[language] : '';
    }

    this.getState();
  }

  @Watch('model', {deep: true, immediate: true})
  getModel() {
    this.$nextTick(() => {
      _.forEach(this.model, (value: string, key: string) => {
        if (this.service.isExist(Enum.CORE.I18N.LANG.ENUM[key], this.params)) {
          const index = this.service.getExistIndex(Enum.CORE.I18N.LANG.ENUM[key], this.params);
          if (index !== null) {
            if (this.service.isLanguageEditorRequire(this.type, Enum.CORE.I18N.LANG.ENUM[key])) {
              this.params[index].content = value;
            } else {
              if (!!value) {
                this.params[index].content = value;
              } else {
                this.params.splice(index, 1);
              }
            }
          }
        } else {
          const classConstructor = this.service.getEditorClassParam(this.type);
          if (this.service.isLanguageEditorRequire(this.type, Enum.CORE.I18N.LANG.ENUM[key])) {
            this.params.push(this.$mapper.toObject(classConstructor, new classConstructor(Enum.CORE.I18N.LANG.ENUM[key], value)));
          } else {
            if (!!value) {
              this.params.push(this.$mapper.toObject(classConstructor, new classConstructor(Enum.CORE.I18N.LANG.ENUM[key], value)));
            }
          }
        }
      });
    });
  }

  @Watch('params', {deep: true, immediate: true})
  getParams() {
    this.setValue();
  }

  getState() {
    this.state = this.service.getState(this.model);
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.model) {
      returnValue = this.service.getMessage(this.model);
    }

    return returnValue;
  }
}
</script>
