<template>
  <div>
    <b-input-group :style="{'float': this.position}">
      <n-image :id="randomId"
               v-model="display"
               :size="size"
               :disable-viewer="true"
               @click="showPopover"/>
    </b-input-group>

    <b-form-invalid-feedback :state="state">
      {{ getMessage }}
    </b-form-invalid-feedback>

    <b-popover :target="randomId"
               triggers="click"
               custom-class="popover-200px"
               :show.sync="displayPopover"
               :placement="placement">

      <template slot="title">
        <div class="popover-title">
          다국어
          <i class="fas fa-times float-right handle" @click="hidePopover"></i>
        </div>
      </template>

      <template v-if="!!model">
        <b-container class="view-popover" fluid="">
          <b-row>
            <b-col class="pl-0 pr-0">
              <label>
                {{ $enum.CORE.I18N.LANG.NAME.EN }}
                <template v-if="type === $enum.CORE.I18N.TYPE.IMAGE.REQUIRE || type === $enum.CORE.I18N.TYPE.IMAGE.FULL_REQUIRE">
                  <span class="em-check">*</span>
                </template>
              </label>
              <n-image-input v-model="model.EN"
                             :size="100"
                             :isValidate="true"/>
            </b-col>
          </b-row>

          <b-row>
            <b-col class="pl-0 pr-0">
              <label>
                {{ $enum.CORE.I18N.LANG.NAME.KO }}
                <template v-if="type === $enum.CORE.I18N.TYPE.IMAGE.FULL_REQUIRE">
                  <span class="em-check">*</span>
                </template>
              </label>
              <n-image-input v-model="model.KO"
                             :size="100"
                             :isValidate="true"/>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-popover>
  </div>
</template>

<script lang="ts">
import _                                       from 'lodash';
import {Component, Prop, PropSync, Vue, Watch} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {Image}     from '@/app/shared/model/image.model';
import {I18nFile}  from '@/app/shared/model/i18n-file.model';
import {broadcast} from '@/core/service/broadcast.service';
import I18nService from '@/app/shared/service/i18n.service';
import NImageInput from '@/app/shared/components/form/n-image-input.vue';

@Component({
  components: {NImageInput}
})
export default class NI18nImage extends Vue {
  displayPopover: boolean = false;
  randomId: string = this.$util.getRandomKey('NI18nImage');
  display: Image.Response.Default | null = null;
  model: I18nFile.Input.Require | I18nFile.Input.FullRequire | I18nFile.Input.Optional | null = null;
  state: boolean | null = null;
  service: I18nService = new I18nService();

  @PropSync('value')
  params!: I18nFile.Request.DefaultImage[];

  @Prop({type: String, default: Enum.CORE.I18N.TYPE.IMAGE.REQUIRE})
  type!: Enum.CORE.I18N.TYPE.IMAGE;

  @Prop({type: Number, default: 100})
  size!: string;

  @Prop({type: String, default: 'right'})
  position!: string; // right, left

  @Prop({type: String, default: 'right'})
  placement!: string; // auto, top, bottom, left, right, topleft, topright, bottomleft, bottomright, lefttop, leftbottom, righttop, rightbottom

  created() {
    this.setValue();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getDefault);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getDefault);
  }

  showPopover() {
    this.displayPopover = true;
  }

  hidePopover() {
    this.displayPopover = false;
  }

  setValue() {
    if (!this.model) {
      this.model = this.service.getImageModel(this.type);
    }

    this.params.forEach((param: I18nFile.Request.DefaultImage) => {
      if (!!this.model && !!Enum.CORE.I18N.LANG.ENUM[param.languageType]) {
        this.model[param.languageType] = param.image;
      }
    });

    this.getDefault();
  }

  getDefault() {
    const language: Enum.CORE.I18N.LANG.ENUM = this.service.getLanguage();

    if (!!this.model) {
      this.display = !!this.model[language] ? this.$mapper.toObject(Image.Response.Default, this.model[language]) : null;
    }

    this.getState();
  }

  @Watch('model', {deep: true, immediate: true})
  getModel() {
    this.$nextTick(() => {
      _.forEach(this.model, (value: Image.Request.Default | null, key: string) => {
        if (this.service.isExist(Enum.CORE.I18N.LANG.ENUM[key], this.params)) {
          const index = this.service.getExistIndex(Enum.CORE.I18N.LANG.ENUM[key], this.params);
          if (index !== null) {
            if (this.service.isLanguageImageRequire(this.type, Enum.CORE.I18N.LANG.ENUM[key])) {
              this.params[index].image = value;
            } else {
              if (!!value) {
                this.params[index].image = value;
              } else {
                this.params.splice(index, 1);
              }
            }
          }
        } else {
          const classConstructor = this.service.getImageClassParam(this.type);
          if (this.service.isLanguageImageRequire(this.type, Enum.CORE.I18N.LANG.ENUM[key])) {
            this.params.push(this.$mapper.toObject(classConstructor, new classConstructor(Enum.CORE.I18N.LANG.ENUM[key], value)));
          } else {
            if (!!value) {
              this.params.push(this.$mapper.toObject(classConstructor, new classConstructor(Enum.CORE.I18N.LANG.ENUM[key], value)));
            }
          }
        }
      });
    });
  }

  @Watch('params', {deep: true, immediate: true})
  getParams() {
    this.setValue();
  }

  getState() {
    this.state = this.service.getState(this.model);
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.model) {
      returnValue = this.service.getMessage(this.model);
    }

    return returnValue;
  }
}
</script>
