<template>
  <div>
    <b-input-group :prepend="prepend"
                   :append="append"
                   :id="randomId"
                   :style="{'float': this.position}">
      <b-form-textarea type="text"
                       v-model="name"
                       :placeholder="placeholder"
                       :state="state"
                       autocomplete="off"
                       :trim="trim"
                       readonly/>
    </b-input-group>

    <b-form-invalid-feedback :state="state">
      {{ getMessage }}
    </b-form-invalid-feedback>

    <b-popover :target="randomId"
               triggers="focus"
               custom-class="popover-60"
               :placement="placement">

      <template slot="title">
        <div class="popover-title">다국어</div>
      </template>

      <template v-if="!!model">
        <b-container class="view-popover" fluid="">
          <b-row>
            <b-col class="pl-0 pr-0">
              <label>
                {{ $enum.CORE.I18N.LANG.NAME.EN }}
                <template v-if="type === $enum.CORE.I18N.TYPE.TEXT_AREA.REQUIRE || type === $enum.CORE.I18N.TYPE.TEXT_AREA.FULL_REQUIRE">
                  <span class="em-check">*</span>
                </template>
              </label>
              <n-textarea name="EN"
                          v-model="model.EN"
                          :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                          :parent="model"/>
            </b-col>
          </b-row>

          <b-row>
            <b-col class="pl-0 pr-0">
              <label>
                {{ $enum.CORE.I18N.LANG.NAME.KO }}
                <template v-if="type === $enum.CORE.I18N.TYPE.TEXT_AREA.FULL_REQUIRE">
                  <span class="em-check">*</span>
                </template>
              </label>
              <n-textarea name="KO"
                          v-model="model.KO"
                          :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                          :parent="model"/>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-popover>
  </div>
</template>

<script lang="ts">
import _                                       from 'lodash';
import {Component, Prop, PropSync, Vue, Watch} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {I18n}      from '@/app/shared/model/i18n.model';
import {broadcast} from '@/core/service/broadcast.service';
import I18nService from '@/app/shared/service/i18n.service';

@Component
export default class NI18nTextarea extends Vue {
  randomId: string = this.$util.getRandomKey('NI18nTextarea');
  name: string = '';
  model: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax | null = null;
  state: boolean | null = null;
  service: I18nService = new I18nService();

  @PropSync('value')
  params!: I18n.Request.Default[] | I18n.Request.DefaultMax[];

  @Prop({type: String, default: Enum.CORE.I18N.TYPE.TEXT_AREA.REQUIRE})
  type!: Enum.CORE.I18N.TYPE.TEXT_AREA;

  @Prop({type: String, default: null})
  prefix!: string;

  @Prop({type: String, default: ''})
  prepend!: string;

  @Prop({type: String, default: ''})
  append!: string;

  @Prop({type: Boolean, default: false})
  trim!: boolean;

  @Prop({type: Boolean, default: false})
  disabled!: boolean;

  @Prop({type: String, default: ''})
  placeholder!: string;

  @Prop({type: String, default: 'right'})
  position!: string; // right, left

  @Prop({type: String, default: 'bottom'})
  placement!: string; // auto, top, bottom, left, right, topleft, topright, bottomleft, bottomright, lefttop, leftbottom, righttop, rightbottom

  created() {
    this.setValue();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  setValue() {
    if (!this.model) {
      this.model = this.service.getTextAreaModel(this.type);
    }

    this.params.forEach((param: I18n.Request.Default | I18n.Request.DefaultMax) => {
      if (!!this.model && !!Enum.CORE.I18N.LANG.ENUM[param.languageType]) {
        this.model[param.languageType] = param.content;
      }
    });

    this.getName();
  }

  getName() {
    const language: Enum.CORE.I18N.LANG.ENUM = this.service.getLanguage();

    if (!!this.model) {
      this.name = !!this.model[language] ? this.model[language] : '';
    }

    this.getState();
  }

  @Watch('model', {deep: true, immediate: true})
  getModel() {
    this.$nextTick(() => {
      _.forEach(this.model, (value: string, key: string) => {
        if (this.service.isExist(Enum.CORE.I18N.LANG.ENUM[key], this.params)) {
          const index = this.service.getExistIndex(Enum.CORE.I18N.LANG.ENUM[key], this.params);
          if (index !== null) {
            if (this.service.isLanguageTextAreaRequire(this.type, Enum.CORE.I18N.LANG.ENUM[key])) {
              this.params[index].content = value;
            } else {
              if (!!value) {
                this.params[index].content = value;
              } else {
                this.params.splice(index, 1);
              }
            }
          }
        } else {
          const classConstructor = this.service.getTextAreaClassParam(this.type);
          if (this.service.isLanguageTextAreaRequire(this.type, Enum.CORE.I18N.LANG.ENUM[key])) {
            this.params.push(this.$mapper.toObject(classConstructor, new classConstructor(Enum.CORE.I18N.LANG.ENUM[key], value)));
          } else {
            if (!!value) {
              this.params.push(this.$mapper.toObject(classConstructor, new classConstructor(Enum.CORE.I18N.LANG.ENUM[key], value)));
            }
          }
        }
      });
    });
  }

  @Watch('params', {deep: true, immediate: true})
  getParams() {
    this.setValue();
  }

  getState() {
    this.state = this.service.getState(this.model);
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.model) {
      returnValue = this.service.getMessage(this.model);
    }

    return returnValue;
  }
}
</script>
