<template>
  <div class="img-box" :class="{'img-box-hover': !!value}">
    <div class="img-wrap" @click="clickImage"
         :class="{'input-is-valid': state === true, 'input-is-invalid': state === false}"
         :style="{
      'width': `${size}px !important`,
      'height': `${size}px !important`,
         }"
         @drop.prevent="onDrop"
         @dragover.prevent
         @dragenter.prevent>
      <img :src="`${imageFileUrl}/${value.path}`"
           v-if="!!$util.safeCall(value, 'id')"
           alt=""/>
      <img src="@/assets/images/blank_200.png"
           v-if="!$util.safeCall(value, 'id')"
           alt=""/>
    </div>

    <input type="file"
           name="file-image"
           ref="file-image"
           @change="onClick"
           accept="image/*"
           hidden/>

    <button class="btn-image-del fas fa-times" type="button" @click="onDelete" v-if="!!$util.safeCall(value, 'id')">
      <span>삭제</span>
    </button>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

import {Image}      from '@/app/shared/model/image.model';
import {FileStore}  from '@/app/shared/vuex/file/file.store';
import InputService from '@/app/shared/service/input.service';

@Component
export default class NImageInput extends Vue {
  readonly imageFileUrl: string = process.env.VUE_APP_IMAGE_FILE_URL;
  state: boolean | null = null;
  target: string = this.$util.getRandomKey('NImageInput');
  store = FileStore.getInstance();
  inputService = new InputService();

  @Prop({default: null})
  value!: Image.Request.Default;

  @Prop({type: Number, default: 50})
  size!: number;

  @Prop({type: Boolean, default: false})
  isValidate!: boolean;

  created() {
    if (this.isValidate) {
      this.state = this.inputService.getStateAll(this.value);
    }
  }

  clickImage() {
    if (!this.$util.safeCall(this.value, 'id')) {
      const file = this.$refs['file-image'] as HTMLInputElement;
      file.click();
    }
  }

  onDelete() {
    if (!!this.$util.safeCall(this.value, 'id')) {
      const fileInput = this.$refs['file-image'] as HTMLInputElement;
      fileInput.value = '';
      this.$emit('input', null);
    }
  }

  onDrop(event: DragEvent) {
    if (!!event.dataTransfer && !!event.target && !this.$util.safeCall(this.value, 'id')) {
      this.onImageUpload(event.dataTransfer.files[0]);
    }
  }

  onClick(event) {
    if (!!event.target) {
      this.onImageUpload(event.target.files[0]);
    }
  }

  onImageUpload(file: File) {
    if (!!file && /^image\//.test(file.type)) {
      const formData = new FormData();
      formData.append('file', file);

      const params = {
        target: this.target,
        formData
      };

      this.store.actions.addImage(params);
    }
  }

  @Watch('value')
  getValue() {
    if (this.isValidate) {
      this.state = this.inputService.getStateAll(this.value);
    }
  }

  @Watch('store.state.resultImage')
  getResultImage() {
    const result: Image.Response.Result = this.store.getters.getResultImage();
    if (result.target === this.target) {
      if (result.action === this.$enum.CORE.ACTION.RESULT.ADD) {
        this.$emit('input', this.$mapper.toObject(Image.Request.Default, result.image));
      }
    }
  }
}
</script>
