<template>
  <div>
    <b-input-group :prepend="prepend" :append="append">
      <b-form-select v-model="selectValue"
                     :state="getState"
                     :disabled="disabled"
                     @input="$emit('input', selectValue === null ? undefined : selectValue)"
                     @change="$emit('change', selectValue === null ? undefined : selectValue)">
        <option v-for="values in optionsValue" :value="values.value" :disabled="(values.disabled !== null && values.disabled !== undefined) ? values.disabled : false">
          {{ values.text }}
        </option>
      </b-form-select>
    </b-input-group>

    <b-form-invalid-feedback v-if="messages" :state="getState">
      {{ getMessage }}
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}       from '@/app/shared/enum/enum';
import {Shared}     from '@/app/shared/model/shared.model';
import InputService from '@/app/shared/service/input.service';
import EnumService  from '@/app/shared/service/enum.service';

@Component
export default class NSelect extends Vue {
  @Prop({default: null})
  value!: string | boolean | null;

  @Prop({type: String, default: null})
  name!: string;

  @Prop({default: null})
  option!: any[] | null;

  @Prop({default: null})
  enum!: any[] | null;

  @Prop({type: Boolean, default: false})
  disabled!: boolean;

  @Prop({default: null})
  defaultAs!: Enum.CORE.FORM.OPTIONS;

  @Prop({type: String, default: ''})
  prepend!: string;

  @Prop({type: String, default: ''})
  append!: string;

  @Prop({default: null})
  parent!: any;

  @Prop({type: Boolean, default: true})
  messages!: boolean;

  selectValue: any = null;
  optionsValue: Shared.Options[] = [];
  inputService = new InputService();
  enumService = new EnumService();

  created() {
    this.selectValue = this.$util.isEmpty(this.value) ? null : this.value;
    this.setOptions();
  }

  @Watch('value')
  getValue() {
    this.selectValue = this.$util.isEmpty(this.value) ? null : this.value;
    this.$emit('input', this.selectValue);
  }

  @Watch('option')
  getOption() {
    this.setOptions();
  }

  get getState(): boolean | null {
    let returnValue: boolean | null = null;

    if (!!this.parent && !!this.name) {
      returnValue = this.inputService.getStateOfNull(this.name, this.parent);
    }

    return returnValue;
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.parent && !!this.name) {
      returnValue = this.inputService.getMessageOfNull(this.name, this.parent);
    }

    return returnValue;
  }

  private setOptions() {
    this.optionsValue = [];

    if (!!this.defaultAs) {
      const defaultAs = new Shared.Options();
      defaultAs.text = '';
      switch (this.defaultAs) {
        case Enum.CORE.FORM.OPTIONS.ALL:
          defaultAs.text = '전체';
          break;
        case Enum.CORE.FORM.OPTIONS.SELECT:
          defaultAs.text = '선택';
          break;
        case Enum.CORE.FORM.OPTIONS.NOT_USE:
          defaultAs.text = '사용안함';
          break;
      }

      defaultAs.value = null;
      this.optionsValue.push(defaultAs);
    }

    if (!!this.enum) {
      const options = this.enumService.getOptions(this.enum);
      options.forEach((value) => {
        this.optionsValue.push(value);
      });
    }

    if (!!this.option) {
      this.option.forEach((value) => {
        this.optionsValue.push(value);
      });
    }

    if (!this.isOptionExist()) {
      this.selectValue = null;
      this.$emit('input', this.selectValue);
    }

    if (this.$util.isEmpty(this.selectValue) && this.optionsValue.length > 0) {
      this.selectValue = this.optionsValue[0].value;
      this.$emit('input', this.selectValue);
    }
  }

  private isOptionExist() {
    let flag = false;
    this.optionsValue.forEach((value) => {
      if (value.value === this.value) {
        flag = true;
      }
    });

    return flag;
  }
}
</script>
