<template>
  <div>
    <b-input-group :prepend="prepend" :append="append">
      <b-form-textarea v-model="model"
                       :rows="rows"
                       :no-resize="noResize"
                       :state="getState"
                       autocomplete="off"
                       :style="{'min-height': !!minHeight ? minHeight + 'px !important' : null}"/>
    </b-input-group>

    <b-form-invalid-feedback v-if="messages" :state="getState">
      {{ getMessage }}
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

import InputService from '@/app/shared/service/input.service';

@Component
export default class NTextarea extends Vue {
  @Prop({default: null})
  value!: string;

  @Prop({type: String, default: null})
  name!: string;

  @Prop({type: String, default: ''})
  prepend!: string;

  @Prop({type: String, default: ''})
  append!: string;

  @Prop({type: Number, default: null})
  rows!: number;

  @Prop({type: Number, default: null})
  limits!: number;

  @Prop({type: Boolean, default: false})
  noResize!: boolean;

  @Prop({type: Number, default: null})
  minHeight!: number;

  @Prop({default: null})
  parent!: any;

  @Prop({type: Boolean, default: true})
  messages!: boolean;

  model: string | null = null;
  inputService = new InputService();

  created() {
    this.model = !!this.value ? this.value : null;
  }

  get getState(): boolean | null {
    let returnValue: boolean | null = null;

    if (!!this.parent && !!this.name) {
      returnValue = this.inputService.getState(this.name, this.parent);
    }

    return returnValue;
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.parent && !!this.name) {
      returnValue = this.inputService.getMessage(this.name, this.parent);
    }

    return returnValue;
  }

  @Watch('value')
  getValue() {
    this.model = this.value;
  }

  @Watch('model')
  getModel(newVal, oldVal) {
    let returnValue: string | null = null;

    if (!!this.limits) {
      if (!this.$util.isLineBreakLimit(newVal, this.limits)) {
        returnValue = newVal;
      } else {
        returnValue = oldVal;
      }
    } else {
      returnValue = newVal;
    }


    this.$emit('input', returnValue);
    this.$nextTick(() => {
      this.model = returnValue;
    });
  }
}
</script>
