<template>
  <div>
    <date-picker v-model="model"
                 :class="{'datepicker-valid': (!!name && !!parent) ? state : null}"
                 type="time"
                 value-type="format"
                 :input-class="inputClass"
                 confirm-text="적용"
                 :confirm="true"
                 :editable="false"
                 :lang="lang"
                 :range="false">
    </date-picker>

    <b-form-invalid-feedback :state="(!!name && !!parent) ? state : null">
      {{ inputService.getMessage(name, parent) }}
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';
import DatePicker                    from 'vue2-datepicker';

import {N_DATE_TIME_PICKER_LANG} from '@/app/shared/config/n-date-time-picker.config';
import InputService              from '@/app/shared/service/input.service';

@Component({
  components: {DatePicker}
})
export default class NTime extends Vue {
  model: string | null = null;
  state: boolean | null = null;
  inputClass: string = 'form-control';
  lang = N_DATE_TIME_PICKER_LANG;
  inputService = new InputService();

  @Prop({type: String, default: null})
  name!: string;

  @Prop({type: String, default: null})
  value!: string;

  @Prop({default: null})
  parent!: any;

  created() {
    this.setModel(this.value);
    this.setState();
  }

  setState() {
    if (!!this.parent && !!this.name) {
      this.state = this.inputService.getState(this.name, this.parent);

      switch (this.state) {
        case true:
          this.inputClass = 'form-control is-valid';
          break;
        case false:
          this.inputClass = 'form-control is-invalid';
          break;
        default:
          this.inputClass = 'form-control';
          break;
      }
    }
  }

  @Watch('value')
  getValue() {
    this.setModel(this.value);
  }

  @Watch('model')
  getModel() {
    this.$emit('input', this.model);
    this.setState();
  }

  private setModel(date: string | null) {
    if (this.model !== date) {
      this.model = date;
    }
  }
}
</script>
