<template>
  <b-modal v-model="isVisible"
           id="NI18nEditorDisplayModal"
           centered
           size="xl"
           title="에디터"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <n-tab v-model="tabIndex" :tabs="tabs"/>

      <template v-if="!!params && tabIndex === 0">
        <b-row>
          <b-col>
            <div v-html="params.EN" :class="[classes, size]"/>
          </b-col>
        </b-row>
      </template>

      <template v-if="!!params && tabIndex === 1">
        <b-row>
          <b-col>
            <div v-html="params.KO" :class="[classes, size]"/>
          </b-col>
        </b-row>
      </template>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {I18n}      from '@/app/shared/model/i18n.model';
import EnumService from '@/app/shared/service/enum.service';

@Component
export default class NI18nEditorDisplayModal extends Vue {
  isVisible: boolean = true;
  tabIndex: number = 0;
  enumService = new EnumService();
  tabs: string[] = this.enumService.getEnums(Enum.CORE.I18N.LANG.NAME);

  @Prop({default: null})
  params!: I18n.Input.Display | null;

  @Prop({type: String, default: 'channel-editor'})
  classes!: string;

  @Prop({type: String, default: 'code-editor-size'})
  size!: string;

  onApply() {
    this.isVisible = false;
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
