<template>
  <b-check class="ml-1"
           v-model="checked"
           :indeterminate="indeterminate"
           @change="toggleAll"/>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

@Component
export default class NCheckStatus extends Vue {
  checked: boolean = false;
  indeterminate: boolean = false;

  @Prop({default: []})
  value!: any[];

  @Prop()
  lists!: any[];

  @Prop({default: false})
  returnOrigins!: boolean;

  toggleAll(checked) {
    if (!!this.lists) {
      const checks: any[] = [];
      this.lists.forEach((origin: any, index: number) => {
        if (this.returnOrigins) {
          checks.push(origin);
        } else {
          checks.push(index);
        }
      });

      this.$emit('input', checked ? checks.slice() : []);
    }
  }

  @Watch('value', {deep: true})
  getValue() {
    this.checkSelect();
  }

  @Watch('lists', {deep: true})
  getList() {
    this.checkSelect();
  }

  private checkSelect() {
    this.$nextTick(() => {
      if (!!this.lists) {
        if (this.value.length === 0) {
          this.indeterminate = false;
          this.checked = false;
        } else if (this.value.length === this.lists.length) {
          this.indeterminate = false;
          this.checked = true;
        } else {
          this.indeterminate = true;
          this.checked = false;
        }
      }
    });
  }
}
</script>
