<template></template>

<script lang="ts">
import {Component, Prop, Watch, Vue} from 'vue-property-decorator';

@Component
export default class NIndex extends Vue {

  @Prop({default: null})
  value!: number | null;

  @Prop({type: Number, default: null})
  index!: number;

  created() {
    this.setIndex();
  }

  @Watch('value')
  getValue() {
    this.setIndex();
  }

  @Watch('index')
  getIndex() {
    this.setIndex();
  }

  private setIndex() {
    this.$emit('input', this.index);
  }
}
</script>
