<template>
  <span>
    {{ listNumber }}
  </span>
</template>

<script lang="ts">
import {Vue, Component, Prop} from 'vue-property-decorator';

import {Pageable} from '@/app/shared/model/pageable.model';

@Component
export default class NListNumber extends Vue {
  @Prop()
  target!: Pageable.Response.Page<any> | number;

  @Prop(Number)
  index!: number;

  @Prop()
  isPage!: boolean | null;

  get listNumber(): number {
    let returnValue!: number;

    if (this.isPage === true) {
      this.target = this.target as Pageable.Response.Page<any>;
      returnValue = this.target.totalElements - ((this.target.number) * this.target.size + this.index);
    } else if (this.isPage === false) {
      returnValue = this.index + 1;
    }

    return returnValue;
  }
}
</script>
