<template>
  <b-col :class="{
    'search-btn-refresh': isRefresh === true,
    'search-btn': isRefresh === false
  }">
    <b-button variant="secondary"
              type="button"
              v-if="isRefresh"
              style="margin-right: 20px"
              @click="onRefresh">
      초기화
    </b-button>

    <b-button variant="info"
              type="submit">
      검색
    </b-button>
  </b-col>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';


@Component
export default class NSearchButtons extends Vue {
  @Prop({type: Boolean, default: false})
  isRefresh!: boolean;

  onRefresh() {
    this.$emit('onRefresh');
  }
}
</script>
