<template>
  <span class="span-container" :class="`mr-${marginRight}`">
    <template v-if="type === 'span-icon'">
      <span :class="[type, iconType, display.class]" :style="{'vertical-align': this.align}"/>
      {{ display.title }}{{ prefix }}
    </template>

    <template v-if="type === 'span-icon2'">
      <span :class="[type, iconType, display.class]">
        {{ display.title }}{{ prefix }}
      </span>
    </template>
  </span>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import EnumService from '@/app/shared/service/enum.service';

@Component
export default class NSpan extends Vue {
  enumService = new EnumService();
  display: { title: string; class: string; } = {title: '', class: ''};

  @Prop({default: 'span-icon'})
  type!: string;

  @Prop({default: 'icon-type-1'})
  iconType!: string;

  @Prop({default: null})
  value!: any;

  @Prop({default: null})
  enum!: any;

  @Prop({default: null})
  prefix!: string;

  @Prop({default: null})
  nullTag!: string;

  @Prop({default: ''})
  align!: string;

  @Prop({default: '2'})
  marginRight!: string;

  created() {
    this.setDisplay();
  }

  @Watch(`value`)
  getValue() {
    this.display = {title: '', class: ''};
    this.setDisplay();
  }

  private setDisplay() {
    if (!!this.value && this.enum) {
      if (!!this.enum.NAME) {
        this.display.title = !!this.enum.NAME[this.value] ? this.enum.NAME[this.value] : '';
      }

      if (!!this.enum.SPAN) {
        this.display.class = !!this.enum.SPAN[this.value] ? `status-${this.getSpan(this.enum.SPAN[this.value])}` : '';
      } else {
        this.enumService.getEnums(this.enum.ENUM).forEach((value: string, index: number) => {
          if (value === this.value) {
            this.display.class = `status-${this.getSpan((index % 30) + 1)}`;
          }
        });
      }
    }

    if (!this.value && !!this.nullTag) {
      this.display.title = this.nullTag;
      this.display.class = 'status-28';
    }
  }

  private getSpan(index: number): string {
    return this.$util.fillZero(2, index.toString());
  }
}
</script>
