<template>
  <b-row class="title-box">
    <b-col class="title">{{ data.title }}</b-col>
    <b-col class="title-nav">{{ data.path | navigationFilter }}</b-col>
  </b-row>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Layout}      from '@/app/system/model/layout.model';
import LayoutService from '@/app/system/service/layout.service';

@Component
export default class NTitleBox extends Vue {
  data: { title: string, path: string[]; } = {title: '', path: []};
  layoutService = new LayoutService();

  created() {
    const menus: Layout.LeftMenu[] = this.layoutService.getMenu();
    this.getPath(this.$route.path, menus);
  }

  private getPath(nowUrl: string, menus: Layout.LeftMenu[]) {
    menus.forEach((menu: Layout.LeftMenu) => {
      if (!!menu.child && menu.child.length > 0) {
        if (!!menu.value && nowUrl.indexOf(menu.value) >= 0) {
          this.data.title = menu.title;
          this.data.path.push(menu.title);
        }

        this.getPath(nowUrl, menu.child);
      } else {
        if (!!menu.href && nowUrl.indexOf(menu.href) >= 0) {
          this.data.title = menu.title;
          this.data.path.push(menu.title);
        }
      }
    });
  }
}
</script>
