<template></template>

<script lang="ts">
import 'reflect-metadata';
import {Vue, Component}  from 'vue-property-decorator';
import {AxiosError}      from 'axios';
import {ValidationError} from 'class-validator';

import router          from '@/router';
import {ERROR_MESSAGE} from '@/app/shared/config/toasts.config';
import {Toasts}        from '@/app/shared/model/toasts.model';
import {broadcast}     from '@/core/service/broadcast.service';
import StorageService  from '@/app/shared/service/storage.service';
import ToastsService   from '@/app/shared/service/toasts.service';

@Component
export default class NToasts extends Vue {
  storage: StorageService = new StorageService();
  toasts: ToastsService = new ToastsService();

  created() {
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.TOAST_VALIDATE, this.onValidate);
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.TOAST_MESSAGE, this.onToast);
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.TOASTS_ERROR, this.onError);
  }

  beforeDestroy() {
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.TOAST_VALIDATE);
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.TOAST_MESSAGE);
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.TOASTS_ERROR);
  }

  private onError(error: AxiosError) {
    if (!!error && !!error.response) {
      if (!!error.response.status) {
        switch (true) {
          case error.response.status === 400:
            if (!!error.response.data) {
              this.onToast(ERROR_MESSAGE.ERROR_CODE(error.response.status, error.response.data.code));
            } else {
              this.onToast(ERROR_MESSAGE.ERROR(error.response.status));
            }
            break;
          case error.response.status === 401 || error.response.status === 403:
            this.onToast(ERROR_MESSAGE.UNAUTHORIZED());
            this.storage.resetLocalStorage();
            router.push('/auth/login');
            break;
          case error.response.status === 500:
            this.onToast(ERROR_MESSAGE.ERROR_500(error.response.status));
            break;
          case error.response.status > 400 && error.response.status < 600:
            this.showErrorMessage(error);
            break;
          default:
            this.onToast(ERROR_MESSAGE.ERROR_CODE(error.response.status, error.response.data.code));
            break;
        }
      } else {
        this.onToast(ERROR_MESSAGE.ERROR('Timeout'));
      }
    } else {
      this.onToast(ERROR_MESSAGE.ERROR('Error'));
    }
  }

  private onValidate(errors: ValidationError[]) {
    errors.forEach((err: any) => {
      this.toasts.validate(err);
    });

    this.onToast(new Toasts.Message({title: '오류 메시지', contents: this.toasts.setDescription(errors, [])}));
  }

  private validFormType(errors) {
    const contents: string[] = [];
    errors.data.errors.forEach((error) => {
      contents.push(error.defaultMessage);
    });

    this.onToast(new Toasts.Message({title: `Http Status : ${errors.status}`, contents}));
  }

  private showErrorMessage(error: AxiosError) {
    if (!!error && !!error.response) {
      if (!this.$util.safeCall(error, error.response.data.code)) {
        this.onToast(ERROR_MESSAGE.ERROR_CODE(error.response.status, error.response.data.code));
      } else {
        this.onToast(ERROR_MESSAGE.ERROR(error.response.status));
      }
    }
  }

  private onToast(message: Toasts.Message) {
    this.$bvToast.toast(
        this.toasts.getContents(message.contents),
        {
          title  : [this.toasts.getTitle(message.title)],
          toaster: 'b-toaster-bottom-right',
          solid  : true,
          variant: message.variant
        }
    );
  }
}
</script>
