<template>
  <b-modal v-model="isVisible"
           id="NI18nEditorModal"
           centered
           size="xl"
           title="에디터"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <n-tab v-model="tabIndex" :tabs="tabs"/>

      <template v-if="!!model && tabIndex === 0">
        <b-row>
          <b-col>
            <n-code-editor v-model="model.EN" :size="size"/>
          </b-col>

          <b-col>
            <div v-html="model.EN" :class="[classes, size]"/>
          </b-col>
        </b-row>
      </template>

      <template v-if="!!model && tabIndex === 1">
        <b-row>
          <b-col>
            <n-code-editor v-model="model.KO" :size="size"/>
          </b-col>

          <b-col>
            <div v-html="model.KO" :class="[classes, size]"/>
          </b-col>
        </b-row>
      </template>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <n-confirm type="ADD">
          <b-button variant="dark" @click="onApply">적용</b-button>
        </n-confirm>

        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {ClassConstructor}            from 'class-transformer';
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}      from '@/app/shared/enum/enum';
import {I18n}      from '@/app/shared/model/i18n.model';
import EnumService from '@/app/shared/service/enum.service';

@Component
export default class NI18nEditorModal extends Vue {
  isVisible: boolean = true;
  tabIndex: number = 0;
  model: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax | null = null;
  enumService = new EnumService();
  tabs: string[] = this.enumService.getEnums(Enum.CORE.I18N.LANG.NAME);

  @Prop({default: null})
  params!: I18n.Input.Require | I18n.Input.FullRequire | I18n.Input.Optional | I18n.Input.RequireMax | I18n.Input.FullRequireMax | I18n.Input.OptionalMax | null;

  @Prop({default: null})
  type!: ClassConstructor<any>;

  @Prop({type: String, default: 'channel-editor'})
  classes!: string;

  @Prop({type: String, default: 'code-editor-size'})
  size!: string;

  created() {
    this.model = this.$mapper.toObject(this.type, this.params);
  }

  onApply() {
    this.$emit('apply', this.model);
    this.isVisible = false;
  }

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
